/* stylelint-disable declaration-block-no-redundant-longhand-properties -- text-decoration shorthand doesn't work properly for Safari */

.abbreviation,
:where(.style-semantic-elements abbr[title]) {
  display: inline;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: var(--border-m);
  text-decoration-color: var(--color-gray-6);
  text-underline-offset: 0.1em;
}
