.accordion {
  width: 100%;

  details {
    width: 100%;
    background-color: var(--color-surface);
    padding-block: 0;
    padding-inline: var(--space-xs);
    border-radius: var(--radius-m);
    border: var(--border-s) solid var(--color-border);
    box-shadow: var(--shadow-s);
    font-family: var(--font-family-body);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);

    @media (prefers-reduced-motion: no-preference) {
      transition: padding var(--duration-l) var(--ease-out);
      interpolate-size: allow-keywords;
    }

    & + details {
      border-block-start: 0;
    }

    &:not(:first-of-type) {
      border-start-start-radius: 0;
      border-start-end-radius: 0;
    }

    &:not(:last-of-type) {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }

    &::details-content {
      opacity: 0;
      block-size: 0;
      overflow-y: clip;
      transition-property: content-visibility, opacity, block-size;
      transition-duration: var(--duration-l);
      transition-timing-function: var(--ease-out);
      transition-behavior: allow-discrete;
    }

    &[open] {
      padding-block-end: var(--space-xs);

      &::details-content {
        opacity: 1;
        block-size: auto;
      }

      summary {
        border-block-end-color: var(--color-border);
        margin-block-end: var(--space-xs);

        &::before {
          rotate: 0deg;
        }

        &:not(:active, .active, :hover, .hover) {
          color: var(--color-brand-3);
        }
      }
    }
  }

  summary {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: 1;
    cursor: pointer;
    border-block-end: var(--border-s) dashed transparent;
    padding: var(--space-xs);
    padding-inline-start: calc(var(--space-xs) + 1em);
    margin-block: 0;
    margin-inline: calc(-1 * var(--space-xs));
    transition-duration: var(--duration-s);
    transition-property: color, border-color;
    transition-timing-function: var(--ease-default);
    position: relative;
    list-style: none; /* Hides ::marker pseudo element in favor of ::before (better cross browser consistency) */
    color: var(--color-text-primary);
    user-select: none;

    @media (prefers-reduced-motion: no-preference) {
      transition-property: color, border-color, padding, margin;
    }

    &:is(:hover, .hover) {
      color: light-dark(var(--color-brand-4), var(--color-brand-2));
    }

    &:is(:active, .active) {
      color: light-dark(var(--color-brand-2), var(--color-brand-4));
    }

    /* Hides ::-webkit-details-marker pseudo element in favor of ::before (better cross browser consistency) */
    &::-webkit-details-marker {
      display: none;
    }

    /* Replacement marker element */
    &::before {
      content: "";
      background-color: var(--color-text-secondary);
      mask-image: url("@/src/icons/dropdown.svg");
      mask-position: center;
      mask-size: contain;
      mask-repeat: no-repeat;
      display: inline-block;
      position: absolute;
      inset-block: 0;
      inset-inline-start: 0.5em;
      margin: auto;
      width: 0.75em;
      height: 0.75em;
      rotate: -90deg;
      transition: rotate var(--duration-l) var(--ease-spring);
    }

    &:dir(rtl)::before {
      rotate: 90deg;
    }

    @media (prefers-reduced-motion) {
      transition-property: color, border-color;

      &::before {
        transition: none;
      }
    }
  }

  &.subtle {
    details {
      box-shadow: none;
      border: 0;
      background-color: transparent;
      padding-inline-start: calc(var(--space-xs) + 1em);

      &[open] summary {
        margin-block-end: var(--space-3xs);
      }
    }

    summary {
      border-block-end: 0;
      padding-block: var(--space-2xs);
      margin-inline-start: calc(-1 * (var(--space-xs) + 1em));
    }
  }
}
