.alert {
  font-size: var(--font-size-m);
  color: var(--color-body-text);
  border: var(--border-m) solid transparent;
  border-radius: var(--radius-s);
  border-start-start-radius: calc(var(--space-2xs) + 2em);
  border-end-start-radius: calc(var(--space-2xs) + 2em);
  padding: var(--space-2xs);
  padding-inline-start: calc(var(--space-2xs) + 2em);
  background:
    linear-gradient(var(--alert-bg-color), var(--alert-bg-color)) padding-box,
    linear-gradient(
        to right,
        var(--alert-border-start-color),
        var(--alert-border-end-color)
      )
      border-box;

  @media print {
    & {
      border-color: var(--alert-border-start-color);
    }
  }

  &.error {
    --alert-bg-color: var(--color-red-9);
    --alert-title-color: var(--color-red-3);
    --alert-border-start-color: var(--color-red-5);
    --alert-border-end-color: var(--color-red-6);
    --alert-icon: url("@/src/svg/x-thick.svg");
  }

  &.warning {
    --alert-bg-color: var(--color-yellow-9);
    --alert-title-color: var(--color-yellow-3);
    --alert-border-start-color: var(--color-yellow-5);
    --alert-border-end-color: var(--color-yellow-6);
    --alert-icon: url("@/src/svg/warning-thick.svg");
  }

  &.success {
    --alert-bg-color: var(--color-green-9);
    --alert-title-color: var(--color-green-3);
    --alert-border-start-color: var(--color-green-5);
    --alert-border-end-color: var(--color-green-6);
    --alert-icon: url("@/src/svg/check-thick.svg");
  }

  &.info {
    --alert-bg-color: var(--color-sky-9);
    --alert-title-color: var(--color-sky-3);
    --alert-border-start-color: var(--color-sky-5);
    --alert-border-end-color: var(--color-sky-6);
    --alert-icon: url("@/src/svg/info-thick.svg");
  }

  &::before {
    inset-inline-start: calc(var(--space-2xs) * 0.5 + 0.375em);
    mask-image: var(--alert-icon);
    background-color: var(--alert-border-start-color);
  }

  &::after {
    inset-inline-start: calc(var(--space-2xs) * 0.5 + 0.15em);
    background-color: var(--color-body-alt);
    border: var(--border-m) solid var(--alert-border-start-color);
  }
}

.alert-title {
  color: var(--alert-title-color);
}
