.alert {
  border-radius: var(--radius-s);
  border-start-start-radius: calc(var(--space-2xs) + 2em);
  border-end-start-radius: calc(var(--space-2xs) + 2em);
  padding: var(--space-2xs);
  padding-inline-start: calc(var(--space-2xs) + 2em);

  &::before,
  &::after {
    inset-inline-start: calc(var(--space-2xs) * 0.5);
  }
}
