/*
 * Note: Alert extends Base Message, meaning this file builds on top of the
 * styles defined in ./shared/base-message.css
 */

.alert {
  --message-icon-size: 1.7em;
  --message-icon-margin: 0.25em;
  --message-icon-background: var(--color-surface);

  font-size: var(--font-size-m);
  color: var(--color-text-primary);
  padding: var(--border-m);
  padding-inline-start: calc(var(--border-m) + 2px);
  border-radius: var(--radius-s);
  background: linear-gradient(
    to right,
    var(--alert-border-start-color),
    var(--alert-border-end-color)
  );

  @media print {
    border: var(--border-m) solid var(--alert-border-start-color);
  }

  &.error {
    --alert-bg-color: var(--color-red-9);
    --alert-title-color: var(--color-red-3);
    --alert-border-start-color: var(--color-red-5);
    --alert-border-end-color: var(--color-red-6);
    --message-icon: url("@/src/icons/x.svg");
    --message-icon-color: var(--color-red-5);
  }

  &.warning {
    --alert-bg-color: var(--color-yellow-9);
    --alert-title-color: var(--color-yellow-3);
    --alert-border-start-color: var(--color-yellow-5);
    --alert-border-end-color: var(--color-yellow-6);
    --message-icon: url("@/src/icons/warning.svg");
    --message-icon-color: var(--color-yellow-5);
  }

  &.success {
    --alert-bg-color: var(--color-green-9);
    --alert-title-color: var(--color-green-3);
    --alert-border-start-color: var(--color-green-5);
    --alert-border-end-color: var(--color-green-6);
    --message-icon: url("@/src/icons/check.svg");
    --message-icon-color: var(--color-green-5);
  }

  &.info {
    --alert-bg-color: var(--color-teal-9);
    --alert-title-color: var(--color-teal-3);
    --alert-border-start-color: var(--color-teal-5);
    --alert-border-end-color: var(--color-teal-6);
    --message-icon: url("@/src/icons/info.svg");
    --message-icon-color: var(--color-teal-5);
  }
}

.alert-content {
  position: relative;
  padding: var(--space-2xs);
  padding-inline-start: 2.5em;
  background-color: var(--alert-bg-color);
  border-start-start-radius: 2.5em;
  border-end-start-radius: 2.5em;
  border-start-end-radius: calc(var(--radius-s) - var(--border-m));
  border-end-end-radius: calc(var(--radius-s) - var(--border-m));
  box-shadow: var(--shadow-s);
}

.alert-title {
  color: var(--alert-title-color);
  margin-block-end: 0.2em;
}
