/*
 * Note: Banner extends Base Message, meaning this file builds on top of the
 * styles defined in ./shared/base-message.css
 */

.banner {
  --message-icon-size: 1.6em;
  --message-icon-margin: 0.8em;
  --message-icon-background: var(--color-body-alt);

  font-size: 1rem;
  color: var(--color-body-text-invert);
  border-block: var(--border-m) solid var(--banner-secondary-color);
  width: 100%;
  background-color: var(--banner-bg-color);

  &.error {
    --banner-bg-color: var(--color-red-4);
    --banner-secondary-color: var(--color-red-5);
    --message-icon: url("@/src/icons/x.svg");
    --message-icon-color: var(--color-red-5);
  }

  &.warning {
    --banner-bg-color: var(--color-yellow-4);
    --banner-secondary-color: var(--color-yellow-5);
    --message-icon: url("@/src/icons/warning.svg");
    --message-icon-color: var(--color-yellow-5);
  }

  &.success {
    --banner-bg-color: var(--color-green-4);
    --banner-secondary-color: var(--color-green-5);
    --message-icon: url("@/src/icons/check.svg");
    --message-icon-color: var(--color-green-5);
  }

  &.info {
    --banner-bg-color: var(--color-teal-4);
    --banner-secondary-color: var(--color-teal-5);
    --message-icon: url("@/src/icons/info.svg");
    --message-icon-color: var(--color-teal-5);
  }

  &.neutral {
    --banner-bg-color: var(--color-brand-4);
    --banner-secondary-color: var(--color-brand-5);

    .banner-content {
      padding-inline-start: var(--space-body-x);
    }

    .banner-content::before,
    .banner-content::after {
      content: unset;
    }
  }

  .link {
    color: var(--color-body-text-invert);
    text-decoration-color: rgb(from var(--color-body-text-invert) r g b / 40%);
  }

  &:has(.button.dismiss) .banner-content {
    padding-inline-end: calc(var(--space-body-x) + 2em);
  }

  & + & {
    border-block-start-width: 0;
  }

  .button.dismiss {
    --button-fg-color: currentcolor;
    --button-hover-bg-color: var(--banner-secondary-color);

    position: absolute;
    inset-block: 0;
    inset-inline-end: calc(var(--space-body-x) * 0.5);
    margin: auto;
    font-size: 0.67em;

    &:is(:focus-visible, .focus) {
      --button-bg-color: var(--banner-secondary-color);
      --button-border-color: currentcolor;
    }
  }
}

.banner-content {
  position: relative;
  max-width: var(--app-max-content-width);
  margin-inline: auto;
  padding: var(--space-2xs) var(--space-body-x);
  padding-inline-start: 3.2em;
}

.banner-title {
  margin-block-end: var(--space-3xs);
}
