.banner {
  border-inline-width: 0;
  width: 100%;
  padding: var(--space-xs) var(--space-body-x);
  padding-inline-start: calc(var(--space-body-x) + 2em);

  &:has(.button.dismiss) {
    padding-inline-end: calc(var(--space-body-x) + 2em);
  }

  &::before,
  &::after {
    inset-inline-start: calc(var(--space-body-x) * 0.5);
  }

  & + & {
    border-block-start-width: 0;
  }

  &.error {
    --banner-dismiss-icon-color: var(--color-red-4);
    --banner-dismiss-hover-bg: var(--color-red-extra-transparent);
    --banner-dismiss-focus-bg: var(--color-red-transparent);
  }

  &.warning {
    --banner-dismiss-icon-color: var(--color-yellow-4);
    --banner-dismiss-hover-bg: var(--color-yellow-extra-transparent);
    --banner-dismiss-focus-bg: var(--color-yellow-transparent);
  }

  &.success {
    --banner-dismiss-icon-color: var(--color-green-4);
    --banner-dismiss-hover-bg: var(--color-green-extra-transparent);
    --banner-dismiss-focus-bg: var(--color-green-transparent);
  }

  &.info {
    --banner-dismiss-icon-color: var(--color-sky-4);
    --banner-dismiss-hover-bg: var(--color-sky-extra-transparent);
    --banner-dismiss-focus-bg: var(--color-sky-transparent);
  }

  .button.dismiss {
    --button-fg-color: var(--banner-dismiss-icon-color);
    --button-hover-bg-color: var(--banner-dismiss-hover-bg);

    position: absolute;
    inset-block: 0;
    inset-inline-end: calc(var(--space-body-x) * 0.5);
    margin: auto;

    &:is(:focus-visible, .focus) {
      --button-bg-color: var(--banner-dismiss-focus-bg);
    }
  }
}
