.button {
  --button-fg-color: var(--color-body-text);
  --button-bg-color: light-dark(var(--color-gray-9), #191b1e);
  --button-border-color: light-dark(var(--color-gray-8), var(--color-outline));
  --button-font-weight: var(--font-weight-normal);
  --button-focus-ring-color: var(--color-gray-extra-transparent);
  --button-shadow: var(--shadow-s);
  --button-hover-bg-color: var(--button-border-color);

  box-sizing: border-box;
  display: inline-flex;
  outline: 0;
  padding-inline: 1.25em;
  padding-block: 0.75em;
  gap: 0.625em;
  border-style: solid;
  transform: scale(1);
  transition-property:
    box-shadow, background-color, border-color, transform, opacity;
  transition-duration: var(--duration-medium);
  transition-timing-function: var(--ease-default);
  text-decoration: none;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  border-width: var(--border-s);
  border-radius: var(--radius-m);
  min-height: 2.6em;
  min-width: 3em;
  line-height: 1;
  font-family: var(--font-family-body);
  box-shadow: var(--button-shadow);
  user-select: none;
  font-size: 1rem;
  color: var(--button-fg-color);
  background-color: var(--button-bg-color);
  border-color: var(--button-border-color);
  font-weight: var(--button-font-weight);

  &::before {
    content: "";
    background-color: var(--button-hover-bg-color);
    position: absolute;
    inset: 0;
    margin: auto;
    transition-property: opacity, width, height, border-radius;
    transition-duration: var(--duration-medium);
    transition-timing-function: var(--ease-default);
    z-index: -1;
    border-radius: 2em;
    width: 4em;
    height: 4em;
    opacity: 0;
  }

  &:is(:focus-visible, .focus) {
    box-shadow:
      var(--button-shadow),
      0 0 0 0.1em var(--button-border-color),
      0 0 0 calc(0.2em + var(--border-s)) var(--button-focus-ring-color);
  }

  &:is(:active, .active) {
    transform: scale(0.98);

    /*
     * On low-resolution screens, the scale effect makes text jump
     * around awkwardly, so we use an alternative.
     */
    @media screen and (resolution < 2x) {
      transform: translateY(1px);
    }
  }

  &:is(:hover, .hover) {
    text-decoration: none;

    &::before {
      opacity: 1;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    /* inputs don't support children, so the ::before pseudo element won't work */
    &:is(input) {
      background-color: var(--button-hover-bg-color);
    }
  }

  &.brand {
    --button-fg-color: var(--color-brand-1);
    --button-bg-color: var(--color-brand-9);
    --button-border-color: var(--color-brand-8);
    --button-focus-ring-color: var(--color-brand-extra-transparent);
  }

  &.red {
    --button-fg-color: var(--color-red-1);
    --button-bg-color: var(--color-red-9);
    --button-border-color: var(--color-red-8);
    --button-focus-ring-color: var(--color-red-extra-transparent);
  }

  &.orange {
    --button-fg-color: var(--color-orange-1);
    --button-bg-color: var(--color-orange-9);
    --button-border-color: var(--color-orange-8);
    --button-focus-ring-color: var(--color-orange-extra-transparent);
  }

  &.yellow {
    --button-fg-color: var(--color-yellow-1);
    --button-bg-color: var(--color-yellow-9);
    --button-border-color: var(--color-yellow-8);
    --button-focus-ring-color: var(--color-yellow-extra-transparent);
  }

  &.green {
    --button-fg-color: var(--color-green-1);
    --button-bg-color: var(--color-green-9);
    --button-border-color: var(--color-green-8);
    --button-focus-ring-color: var(--color-green-extra-transparent);
  }

  &.sky {
    --button-fg-color: var(--color-sky-1);
    --button-bg-color: var(--color-sky-9);
    --button-border-color: var(--color-sky-8);
    --button-focus-ring-color: var(--color-sky-extra-transparent);
  }

  &.blue {
    --button-fg-color: var(--color-blue-1);
    --button-bg-color: var(--color-blue-9);
    --button-border-color: var(--color-blue-8);
    --button-focus-ring-color: var(--color-blue-extra-transparent);
  }

  &.purple {
    --button-fg-color: var(--color-purple-1);
    --button-bg-color: var(--color-purple-9);
    --button-border-color: var(--color-purple-8);
    --button-focus-ring-color: var(--color-purple-extra-transparent);
  }

  &.magenta {
    --button-fg-color: var(--color-magenta-1);
    --button-bg-color: var(--color-magenta-9);
    --button-border-color: var(--color-magenta-8);
    --button-focus-ring-color: var(--color-magenta-extra-transparent);
  }

  &.black {
    --button-fg-color: white;
    --button-bg-color: black;
    --button-border-color: #3d3d3d;
  }

  &.white {
    --button-fg-color: black;
    --button-bg-color: white;
    --button-border-color: #d0d0d0;
  }

  &.primary {
    --button-fg-color: white;
    --button-bg-color: var(--color-brand-5);
    --button-border-color: var(--color-brand-4);
    --button-font-weight: var(--font-weight-bold);
    --button-focus-ring-color: var(--color-brand-transparent);

    &.red {
      --button-bg-color: var(--color-red-5);
      --button-border-color: var(--color-red-4);
      --button-focus-ring-color: var(--color-red-transparent);
    }

    &.orange {
      --button-bg-color: var(--color-orange-5);
      --button-border-color: var(--color-orange-4);
      --button-focus-ring-color: var(--color-orange-transparent);
    }

    &.yellow {
      --button-bg-color: var(--color-yellow-5);
      --button-border-color: var(--color-yellow-4);
      --button-focus-ring-color: var(--color-yellow-transparent);
    }

    &.green {
      --button-bg-color: var(--color-green-5);
      --button-border-color: var(--color-green-4);
      --button-focus-ring-color: var(--color-green-transparent);
    }

    &.sky {
      --button-bg-color: var(--color-sky-5);
      --button-border-color: var(--color-sky-4);
      --button-focus-ring-color: var(--color-sky-transparent);
    }

    &.blue {
      --button-bg-color: var(--color-blue-5);
      --button-border-color: var(--color-blue-4);
      --button-focus-ring-color: var(--color-blue-transparent);
    }

    &.purple {
      --button-bg-color: var(--color-purple-5);
      --button-border-color: var(--color-purple-4);
      --button-focus-ring-color: var(--color-purple-transparent);
    }

    &.magenta {
      --button-bg-color: var(--color-magenta-5);
      --button-border-color: var(--color-magenta-4);
      --button-focus-ring-color: var(--color-magenta-transparent);
    }

    &.gray {
      --button-bg-color: var(--color-gray-5);
      --button-border-color: var(--color-gray-4);
      --button-focus-ring-color: var(--color-gray-transparent);
    }

    &.black {
      --button-bg-color: black;
      --button-border-color: #3d3d3d;
      --button-focus-ring-color: var(--color-gray-transparent);
    }

    &.white {
      --button-fg-color: black;
      --button-bg-color: white;
      --button-border-color: #d0d0d0;
      --button-focus-ring-color: var(--color-gray-transparent);
    }
  }

  &.tertiary {
    --button-fg-color: var(--color-brand-4);
    --button-bg-color: transparent;
    --button-border-color: transparent;
    --button-hover-bg-color: var(--color-brand-extra-transparent);
    --button-font-weight: var(--font-weight-bold);
    --button-focus-ring-color: transparent;
    --button-shadow: none;

    &:is(:focus-visible, .focus) {
      --button-bg-color: var(--color-brand-transparent);
      --button-hover-bg-color: transparent;
    }

    &.red {
      --button-fg-color: var(--color-red-4);
      --button-hover-bg-color: var(--color-red-extra-transparent);

      &:is(:focus-visible, .focus) {
        --button-bg-color: var(--color-red-transparent);
      }
    }

    &.orange {
      --button-fg-color: var(--color-orange-4);
      --button-hover-bg-color: var(--color-orange-extra-transparent);

      &:is(:focus-visible, .focus) {
        --button-bg-color: var(--color-orange-transparent);
      }
    }

    &.yellow {
      --button-fg-color: var(--color-yellow-4);
      --button-hover-bg-color: var(--color-yellow-extra-transparent);

      &:is(:focus-visible, .focus) {
        --button-bg-color: var(--color-yellow-transparent);
      }
    }

    &.green {
      --button-fg-color: var(--color-green-4);
      --button-hover-bg-color: var(--color-green-extra-transparent);

      &:is(:focus-visible, .focus) {
        --button-bg-color: var(--color-green-transparent);
      }
    }

    &.sky {
      --button-fg-color: var(--color-sky-4);
      --button-hover-bg-color: var(--color-sky-extra-transparent);

      &:is(:focus-visible, .focus) {
        --button-bg-color: var(--color-sky-transparent);
      }
    }

    &.blue {
      --button-fg-color: var(--color-blue-4);
      --button-hover-bg-color: var(--color-blue-extra-transparent);

      &:is(:focus-visible, .focus) {
        --button-bg-color: var(--color-blue-transparent);
      }
    }

    &.purple {
      --button-fg-color: var(--color-purple-4);
      --button-hover-bg-color: var(--color-purple-extra-transparent);

      &:is(:focus-visible, .focus) {
        --button-bg-color: var(--color-purple-transparent);
      }
    }

    &.magenta {
      --button-fg-color: var(--color-magenta-4);
      --button-hover-bg-color: var(--color-magenta-extra-transparent);

      &:is(:focus-visible, .focus) {
        --button-bg-color: var(--color-magenta-transparent);
      }
    }

    &.gray,
    &.black,
    &.white {
      --button-hover-bg-color: var(--color-gray-extra-transparent);

      &:is(:focus-visible, .focus) {
        --button-bg-color: var(--color-gray-transparent);
      }
    }

    &.gray {
      --button-fg-color: var(--color-gray-4);
    }

    &.black {
      --button-fg-color: black;
    }

    &.white {
      --button-fg-color: white;
    }
  }

  &.small {
    font-size: 0.8rem;
  }

  &.large {
    font-size: 1.2rem;
  }

  &.icon {
    border-radius: var(--radius-full);
    min-width: 0;
    min-height: 0;
    aspect-ratio: 1;
    padding: 0.5em;

    /* Tertiary icon buttons use normal pseudo element hover effect */
    &.tertiary {
      &::before {
        width: 75%;
        height: 75%;
      }

      &:is(:hover, .hover)::before {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    /* Normal icon buttons just change background color */
    &:not(.tertiary) {
      &::before {
        content: unset;
      }

      &:is(:hover, .hover) {
        background-color: var(--button-hover-bg-color);
      }
    }
  }

  &:is(:disabled, .disabled, [aria-disabled="true"]) {
    opacity: var(--opacity-disabled);
    cursor: not-allowed;
    transform: scale(1);

    &:is(:hover, .hover)::before {
      opacity: 0;
    }
  }

  &.loading {
    cursor: progress;

    &::before {
      opacity: 1 !important;
      height: 100% !important;
      border-radius: inherit !important;
      animation: button-loading-bg 1200ms var(--ease-both-subtle) infinite
        forwards;
    }

    &:is(:disabled, .disabled, [aria-disabled="true"]) {
      cursor: wait;
    }
  }
}

@keyframes button-loading-bg {
  0% {
    width: 0;
    margin: 0 auto 0 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
    margin: 0 0 0 auto;
  }
}
