.divider,
:where(.style-semantic-elements hr, .style-semantic-elements br) {
  --divider-thickness: var(--border-s);

  display: block;
  border-style: solid;
  border-color: var(--color-border);
  border-width: 0;
  border-top-width: var(--divider-thickness);
  margin: var(--space-xs) 0;
  outline: 0;
  width: 100%;
  height: 0;
  print-color-adjust: exact;
  position: relative;

  &.vertical {
    display: inline-block;
    border-top-width: 0;
    border-left-width: var(--divider-thickness);
    margin: auto var(--space-xs);
    width: 0;
    height: 100%;
    min-height: 1em;
  }
}

.divider.invisible,
:where(.style-semantic-elements br) {
  visibility: hidden;
}

.divider.thick {
  --divider-thickness: var(--border-m);
}

.divider.thicker {
  --divider-thickness: var(--border-l);
}

.divider.dashed {
  border-style: dashed;
}

.divider.dotted {
  border-style: dotted;
}
