/*
 * Note: Drawer extends Base Dialog, meaning this file builds on top of the
 * styles defined in ./shared/base-dialog.css
 */

.drawer {
  --dialog-starting-opacity: 1;
  --dialog-ending-opacity: 1;

  position: fixed;
  inset: 0;
  border-radius: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  transition-duration: var(--duration-extra-long) !important;

  &.left {
    right: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateX(-100%);
      --dialog-ending-transform: translateX(-100%);
    }
  }

  &.top {
    bottom: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateY(-100%);
      --dialog-ending-transform: translateY(-100%);
    }
  }

  &.right {
    left: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateX(100%);
      --dialog-ending-transform: translateX(100%);
    }
  }

  &.bottom {
    top: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateY(100%);
      --dialog-ending-transform: translateY(100%);
    }
  }

  &.top,
  &.bottom {
    width: 100dvw;
    max-width: unset;
    height: auto;
    max-height: 100dvh;
    min-height: min(100dvh, 16rem);

    &.small {
      height: 18rem;
    }

    &.medium {
      height: 28rem;
    }

    &.large {
      height: 38rem;
    }
  }

  &.left,
  &.right {
    height: 100dvh;
    max-height: unset;
    width: auto;
    min-width: min(100dvw, 18rem);
    max-width: 100dvw;

    &.small {
      width: 22rem;
    }

    &.medium {
      width: 32rem;
    }

    &.large {
      width: 42rem;
    }
  }
}

.drawer-body {
  height: 100%;
}

.drawer-footer {
  padding: var(--space-xs);
  flex-shrink: 0;
  display: flex;
  gap: var(--space-xs);
  justify-content: flex-start;
  margin: 0;
  margin-block-start: auto;

  > * {
    width: 100%;
  }
}
