/* See utils/base-dialog for more */
.drawer {
  --dialog-starting-opacity: 0.5;

  position: fixed;
  inset: 0;
  border-radius: 0;
  margin: 0;
  border: 0;
  overflow: auto;

  &.left {
    right: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateX(-16px);
      --dialog-ending-transform: translateX(-16px);
    }
  }

  &.top {
    bottom: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateY(-16px);
      --dialog-ending-transform: translateY(-16px);
    }
  }

  &.right {
    left: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateX(16px);
      --dialog-ending-transform: translateX(16px);
    }
  }

  &.bottom {
    top: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateY(16px);
      --dialog-ending-transform: translateY(16px);
    }
  }

  &.top,
  &.bottom {
    width: 100dvw;
    max-width: unset;
    height: auto;
    max-height: 100dvh;
    min-height: min(100dvh, 250px);

    &.small {
      height: 300px;
    }

    &.medium {
      height: 450px;
    }

    &.large {
      height: 600px;
    }
  }

  &.left,
  &.right {
    height: 100dvh;
    max-height: unset;
    width: auto;
    min-width: min(100dvw, 300px);
    max-width: 100dvw;

    &.small {
      width: 350px;
    }

    &.medium {
      width: 450px;
    }

    &.large {
      width: 700px;
    }
  }
}

.drawer-body {
  height: 100%;
}

.drawer-footer {
  padding: var(--space-xs);
  flex-shrink: 0;
  display: flex;
  gap: var(--space-xs);
  justify-content: flex-start;
  margin: 0;
  margin-block-start: auto;

  > * {
    width: 100%;
  }
}
