.field {
  --field-gap: var(--space-2xs);
  --field-padding: 0.5em;
  --field-radius: var(--radius-m);

  display: inline-flex;
  flex-direction: column;
  line-height: 1;
  gap: var(--field-gap);
  color: var(--color-body-text);
  font-weight: var(--font-weight-semibold);
  transition-property: color, box-shadow;
  transition-duration: var(--duration-medium);
  transition-timing-function: var(--ease-default);
  font-size: var(--font-size-m);
  font-family: var(--font-family-body);

  /* If using a fieldset element for the Field, fix spacing for the label */
  &:is(fieldset) legend {
    margin-block-end: var(--field-gap);
  }

  &.compact,
  .fieldset.compact & {
    --field-gap: calc(0.9 * var(--space-2xs));
    --field-padding: 0.33em;
    --field-radius: var(--radius-s);

    font-size: calc(0.9 * var(--font-size-m));
  }

  &:is(:focus-within, .focus) {
    color: var(--color-brand-5);
  }

  &:has(:user-invalid, [aria-invalid="true"]) {
    color: var(--color-red-5);

    .error-message {
      display: flex;
    }
  }

  &:has([readonly]):is(:focus-within, .focus) {
    color: var(--color-gray-5);
  }

  input:not(
    [type="button"],
    [type="checkbox"],
    [type="file"],
    [type="hidden"],
    [type="image"],
    [type="radio"],
    [type="range"],
    [type="reset"],
    [type="submit"]
  ),
  select,
  textarea {
    color: var(--color-body-text);
    background-color: light-dark(white, black);
    border: var(--border-s) solid var(--color-border);
    font-size: 1em;
    padding: var(--field-padding);
    border-radius: var(--field-radius);
    transition-property: color, box-shadow, border-color;
    transition-duration: var(--duration-medium);
    transition-timing-function: var(--ease-default);
    font-family: inherit;
    line-height: 1.25;

    &:is(:focus, .focus) {
      outline: 0;
      border-color: var(--color-brand-5);
      box-shadow:
        0 0 0 0.1em var(--color-brand-5),
        0 0 0 calc(0.2em + var(--border-s)) var(--color-brand-transparent);
    }

    &:focus-visible {
      outline: 0;
    }

    &:disabled {
      opacity: var(--opacity-disabled);
      cursor: not-allowed;
    }

    /* Not using :read-only because it matches additional elements (e.g., every color input) */
    &[readonly] {
      border-style: dashed;

      &:is(:focus, .focus) {
        outline: 0;
        border-style: solid;
        border-color: var(--color-gray-5);
        box-shadow:
          0 0 0 0.1em var(--color-gray-5),
          0 0 0 calc(0.2em + var(--border-s)) var(--color-gray-transparent);
      }
    }

    &:user-invalid,
    &[aria-invalid="true"] {
      border-color: var(--color-red-5);
      box-shadow: 0 0 0 0.1em var(--color-red-5);

      &:is(:focus, .focus) {
        outline: 0;
        border-color: var(--color-red-5);
        box-shadow:
          0 0 0 0.1em var(--color-red-5),
          0 0 0 calc(0.2em + var(--border-s)) var(--color-red-transparent);
      }
    }
  }

  input[type="color"] {
    inline-size: auto;
    block-size: auto;
    cursor: pointer;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: 0;
      block-size: 1.25em;
      inline-size: 100%;
      border-radius: var(--radius-s);
    }

    &::-moz-color-swatch {
      border: 0;
      block-size: 1.25em;
      inline-size: 100%;
      border-radius: var(--radius-s);
    }
  }

  /* Prevent child checkbox/radio from changing color with Field label */
  .checkbox,
  .radio {
    color: var(--color-body-text);
  }

  /*
   * Fix issue on mobile safari where box shadow, border, and height styles
   * aren't applied to some input types.
   */
  input:is(
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="time"],
    [type="week"]
  ) {
    appearance: none;
    min-height: calc(1.5em + 2 * var(--field-padding));
  }

  select,
  input[list] {
    background-image: url("@/src/icons/dropdown-thin.svg");
    background-position: center right var(--space-2xs);
    background-size: 1.15em auto;
    background-repeat: no-repeat;
    appearance: none;
    padding-inline-end: calc(2 * var(--space-2xs) + 1.15em);

    &:dir(rtl) {
      background-position: center left var(--space-2xs);
    }

    @media (prefers-color-scheme: dark) {
      background-image: url("@/src/icons/dropdown-thin-invert.svg");
    }
  }

  /*
   * On mobile safari, the user agent adds its own dropdown icon to inputs with
   * a list attribute. We want to replace this icon with our custom one to match
   * the style of <select> elements.
   *
   * While we could remove the browser's icon (leaving the background image to
   * display our custom icon, like how we do for <select>), this has the side
   * effect of preventing the user from opening the list of options. Making the
   * icon invisible also doesn't work, since the target area ends up being out
   * of alignment with the visible icon, and moving the target area can be 
   * error-prone.
   *
   * To work around this, we remove the field's background image on mobile
   * safari and keep the native pseudo-element, but replace its icon.
   */
  @supports (-webkit-touch-callout: none) {
    input[list] {
      padding-inline-end: var(--field-padding);
      background-image: none;

      &::-webkit-list-button {
        appearance: none;
        width: calc(1.15em + var(--field-padding));
        height: 1.5em;
        background-image: url("@/src/icons/dropdown-thin.svg");
        background-position: right var(--field-padding) center;
        background-size: 1.15em auto;
        background-repeat: no-repeat;
      }

      @media (prefers-color-scheme: dark) {
        &::-webkit-list-button {
          background-image: url("@/src/icons/dropdown-thin-invert.svg");
        }
      }
    }
  }

  /* A similar issue to above happens on desktop chrome */
  @supports (selector(input[list]::-webkit-calendar-picker-indicator)) {
    input[list] {
      padding-inline-end: 0;
      background-image: none;

      &::-webkit-calendar-picker-indicator {
        appearance: none;
        display: block !important;
        list-style: none !important;
        cursor: pointer;
        width: 1.15em;
        height: 1.5em;
        flex: none;
        opacity: 1;
        padding: var(--field-padding);
        background-image: url("@/src/icons/dropdown-thin.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.15em auto;
      }

      @media (prefers-color-scheme: dark) {
        &::-webkit-calendar-picker-indicator {
          background-image: url("@/src/icons/dropdown-thin-invert.svg");
        }
      }
    }
  }

  select {
    cursor: pointer;
  }

  .help-text {
    font-size: 0.9em;
    color: var(--color-body-text-alt);
    font-weight: var(--font-weight-normal);
    margin: -0.25em 0 0;
    position: relative;
  }

  .error-message {
    display: none;
    font-size: 0.9em;
    border: 0;
    padding: 0;
    margin: 0;
    font-weight: var(--font-weight-semibold);
    align-items: center;
    gap: 2px;

    &::before {
      content: "";
      mask-image: url("@/src/icons/x-circle.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: currentcolor;
      display: inline-block;
      height: 1.2em;
      width: 1.2em;
      margin-inline-end: 0.2em;
    }
  }

  .input-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    > * {
      border-radius: 0 !important;
      z-index: 1;
    }

    > :is(:user-invalid, [aria-invalid="true"]) {
      z-index: 2;
    }

    > :first-child {
      border-start-start-radius: var(--field-radius) !important;
      border-end-start-radius: var(--field-radius) !important;
    }

    > :last-child {
      border-end-end-radius: var(--field-radius) !important;
      border-start-end-radius: var(--field-radius) !important;
    }

    > :is(:focus-visible, .focus) {
      z-index: 3;
    }

    > :is(.prefix, .suffix, .action) {
      user-select: none;
      -webkit-user-drag: none;
      display: flex;
      font-weight: var(--font-weight-normal);
      color: var(--color-gray-3);
      background-color: var(--color-gray-9);
      border: var(--border-s) solid var(--color-border);
      padding: var(--field-padding) calc(2 * var(--field-padding));
      align-items: center;
      justify-content: center;
      font-size: 0.9em;

      :is(img, svg) {
        height: 1.15em;
        width: auto;
      }
    }

    > .prefix {
      border-inline-end: 0;
    }

    > .suffix {
      border-inline-start: 0;
    }

    > .action {
      cursor: pointer;
      color: var(--color-brand-3);
      border-inline-start: 0;
      transition-property: box-shadow, background-color;
      transition-duration: var(--duration-medium);
      transition-timing-function: var(--ease-default);

      &:is(:hover, .hover) {
        background-color: var(--color-gray-8);
      }

      &:is(:active, .active) {
        background-color: var(--color-gray-7);
      }

      &:is(:focus-visible, .focus) {
        border-color: var(--color-brand-5);
        border-inline-start-width: var(--border-s);
        border-inline-start-style: solid;
        box-shadow:
          0 0 0 0.11em var(--color-brand-5),
          0 0 0 calc(0.22em + var(--border-s)) var(--color-brand-transparent);
        outline: 0;
      }
    }

    > :is(input, select, textarea) {
      width: 100%;

      &:has(~ .action:is(:focus-visible, .focus)) {
        border-inline-end-width: 0;
      }
    }
  }

  .required-indicator {
    display: inline;
    position: relative;
    inset-block-end: 0.15em;
    inset-inline-start: 0.15em;
    color: var(--color-red-5);
    font-size: 0.9em;
    font-weight: var(--font-weight-semibold);
  }
}
