.wrap,
.stack,
.distribute {
  display: flex !important;
  gap: var(--space-s);

  &.no-gap {
    gap: var(--space-none);
  }

  &.densest {
    gap: var(--space-3xs);
  }

  &.denser {
    gap: var(--space-2xs);
  }

  &.dense {
    gap: var(--space-xs);
  }

  &.sparse {
    gap: var(--space-m);
  }

  &.sparser {
    gap: var(--space-l);
  }

  &.sparsest {
    gap: var(--space-xl);
  }

  &.horizontal,
  &.horizontally {
    flex-direction: row;
  }

  &.vertical,
  &.vertically {
    flex-direction: column;
  }
}

.wrap {
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.stack {
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: start;
}

.distribute {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
