/*
 * Note: Link extends Base Link, meaning this file builds on top of the
 * styles defined in ./shared/base-link.css
 */

.link,
:where(.markdown a) {
  --link-color: var(--color-teal-4);
  --link-underline-color: var(--color-teal-transparent);
  --link-active-color: var(--color-teal-3);

  font-weight: var(--font-weight-semibold);
}
