.link,
.card-title[href],
:where(.style-semantic-elements a) {
  color: var(--color-sky-4);
  font-weight: var(--font-weight-semibold);
  text-decoration-line: underline;
  text-decoration-color: var(--color-sky-transparent);
  text-decoration-skip-ink: all;
  text-decoration-thickness: var(--border-m);
  text-underline-offset: 0.1em;
  cursor: pointer;
  transition: text-decoration-color var(--duration-short) var(--ease-default);

  &:is(:hover, .hover) {
    text-decoration-color: currentcolor;
  }

  &:focus-visible {
    outline-offset: 1px;
  }
}

/* External and Download icons */
a[target="_blank"]:is(.link, .button):not(.no-external-icon),
:where(.style-semantic-elements a[target="_blank"]:not(.no-external-icon)),
a[download]:is(.link, .button):not(.no-download-icon),
:where(.style-semantic-elements a[download]:not(.no-download-icon)) {
  &::after {
    content: "";
    print-color-adjust: exact;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--color-gray-5);
    display: inline-block;
    vertical-align: baseline;
    margin-inline-start: 0.25em;
    transition: background-color var(--duration-short) var(--ease-default);
  }

  &:hover::after {
    background-color: var(--color-gray-4);
  }

  &.button::after {
    background-color: currentcolor !important;
    margin-inline-start: initial;
  }

  /* External icon */
  &[target="_blank"] {
    &::after {
      mask-image: url("@/src/svg/external.svg");
      height: 0.85em;
      width: 0.85em;
      transform: translateY(9%);
    }

    &.button::after {
      transform: translateY(-8%);
    }
  }

  /* Download icon */
  &[download] {
    &::after {
      mask-image: url("@/src/svg/download.svg");
      height: 1em;
      width: 1em;
      transform: translateY(10%);
    }

    &.button::after {
      transform: translateY(-15%);
    }
  }
}
