/*
 * Note: Modal extends Base Dialog, meaning this file builds on top of the
 * styles defined in ./shared/base-dialog.css
 */

.modal {
  max-height: calc(100svh - 4 * var(--space-body-y));
  max-width: calc(100svw - 4 * var(--space-body-x));
  margin: auto;

  &.small {
    width: 25rem;
  }

  &.medium {
    width: 40rem;
  }

  &.large {
    width: 55rem;
  }

  /*
   * Reset the color scheme rather than inheriting it from the parent element.
   *
   * Modals aren't rendered inside their parent, so it doesn't makes sense for
   * them to inherit their parent's color scheme. We still allow explicit
   * overrides using the standard light-mode and dark-mode classes.
   */
  &:not(.light-mode, .dark-mode) {
    color-scheme: light dark;
  }
}

.modal-footer {
  padding: var(--space-xs);
  flex-shrink: 0;
  display: flex;
  gap: var(--space-2xs);
  justify-content: flex-start;
  background-color: var(--color-body);
  border-block-start: var(--border-s) solid var(--color-border);
  margin: 0;

  @media screen and (width < 30rem) {
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
  }

  .button:not(.small, .medium, .large) {
    font-size: 0.9rem;
  }
}
