.quote,
:where(.style-semantic-elements blockquote) {
  display: block;
  margin: 0;
  color: var(--color-body-text-alt);
  border-inline-start: 0.25em solid var(--color-gray-transparent);
  padding: var(--space-3xs);
  padding-inline-start: var(--space-xs);
  position: relative;
  line-height: 1.25;
  font-family: var(--font-family-body);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);

  footer {
    margin-block-start: 0.5em;
    font-size: var(--font-size-s);
    font-style: initial;
    color: var(--color-body-text);
    font-weight: var(--font-weight-semibold);

    cite {
      font-weight: var(--font-weight-normal);
      font-style: italic;
    }
  }
}
