@keyframes skeleton-pulse-light {
  from {
    opacity: 0.14;
  }

  to {
    opacity: 0.21;
  }
}

@keyframes skeleton-pulse-dark {
  from {
    opacity: 0.28;
  }

  to {
    opacity: 0.36;
  }
}

.skeleton,
.skeleton-controller.loading .skeleton-item {
  animation: skeleton-pulse-light 1s var(--ease-both-subtle) alternate 0s
    infinite !important;
  border-radius: var(--radius-s) !important;
  background-color: var(--color-gray-5) !important;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: 0 !important;
  pointer-events: none !important;
  color: transparent !important;
  mask-image: none !important;
  background-image: none !important;
  user-select: none !important;
  print-color-adjust: exact;

  /*************************************************************
   * Special styles for "skeletonizing" specific element types *
   *************************************************************/

  /* Make block text take up the full width */
  &.paragraph,
  &.heading {
    inline-size: 100%;
  }

  /* For empty text elements, add filler content so it isn't 0 height. */
  &:is(.paragraph, .heading, .chip, .card-title)::before {
    content: ".";
  }

  /* Add a reasonable minimum width to buttons and chips */
  &:is(.button, .chip):empty {
    min-inline-size: 5em;
  }

  /* Add a reasonable width to card titles */
  &.card-title {
    inline-size: 40%;
    overflow: hidden;
  }

  /* Visually hide contents, but let them take up space so elements don't collapse to 0 height. */
  &::before,
  &::after,
  > * {
    visibility: hidden !important;
  }

  @media (prefers-color-scheme: dark) {
    animation-name: skeleton-pulse-dark !important;
  }
}

.skeleton-controller {
  display: contents;
}
