.skip-link {
  position: fixed;
  display: inline-block;
  z-index: 100;
  top: var(--space-body-y);
  left: var(--space-body-x);
  background-color: var(--color-brand-5);
  padding: var(--space-xs);
  border-radius: var(--radius-m);
  border: 0.25em solid var(--color-brand-4);
  color: white;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-body);
  font-size: var(--font-size-m);
  outline: 0;
  box-shadow:
    var(--shadow-l),
    0 0 0 0.2em var(--color-brand-transparent);
  text-decoration: none;
  vertical-align: middle;
  opacity: 0.25;
  transition: opacity var(--duration-m) var(--ease-default);
  pointer-events: none;
  line-height: 1;

  &:is(:focus, .focus, .static) {
    opacity: 1;
  }

  &.static {
    position: static;
    pointer-events: unset;
  }
}
