input[type="range"].slider {
  --slider-shadow-resting: var(--shadow-s);
  --slider-shadow-focused:
    var(--shadow-s), 0 0 0 0.08em var(--color-brand-5),
    0 0 0 calc(0.16em + var(--border-s)) var(--color-brand-transparent);
  --slider-shadow-active: var(--shadow-s), 0 0 0 0.08em var(--color-brand-5);

  font-size: 1.2rem;
  block-size: 1.25em;
  appearance: none;
  background: transparent;
  cursor: pointer;

  @media (pointer: coarse) {
    font-size: 1.5rem;
  }

  &:disabled {
    opacity: var(--opacity-disabled);
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: 0;

    &::-webkit-slider-thumb {
      border-color: var(--color-brand-5);
      box-shadow: var(--slider-shadow-focused);
    }

    &::-moz-range-thumb {
      border-color: var(--color-brand-5);
      box-shadow: var(--slider-shadow-focused);
    }
  }

  &:enabled:active {
    &::-webkit-slider-thumb {
      border-color: var(--color-brand-5);
      box-shadow: var(--slider-shadow-active);
      transform: scale(1);

      @media screen and (resolution >= 2x) {
        transform: scale(0.9);
      }
    }

    &::-moz-range-thumb {
      border-color: var(--color-brand-5);
      box-shadow: var(--slider-shadow-active);
      transform: scale(1);

      @media screen and (resolution >= 2x) {
        transform: scale(0.9);
      }
    }
  }

  &::-webkit-slider-runnable-track {
    block-size: 0.25em;
    inline-size: 100%;
    border-radius: var(--radius-full);
    background-color: var(--color-gray-8);
    print-color-adjust: exact;
    box-shadow: 0 0 1px var(--color-gray-7) inset;
  }

  &::-moz-range-track {
    block-size: 0.25em;
    inline-size: 100%;
    border-radius: var(--radius-full);
    background-color: var(--color-gray-8);
    print-color-adjust: exact;
    box-shadow: 0 0 1px var(--color-gray-7) inset;
  }

  &::-webkit-slider-thumb {
    height: 1.25em;
    width: 1.25em;
    border-radius: var(--radius-full);
    background-color: white;
    box-shadow: var(--slider-shadow-resting);
    border: var(--border-s) solid var(--color-outline);
    transition-property: border-color, box-shadow, transform;
    transition-duration: var(--duration-short);
    transition-timing-function: var(--ease-default);

    /* Additional properties needed for webkit */
    appearance: none;
    margin-block-start: -0.5em;
  }

  &::-moz-range-thumb {
    height: 1.25em;
    width: 1.25em;
    border-radius: var(--radius-full);
    background-color: white;
    box-shadow: var(--slider-shadow-resting);
    border: var(--border-s) solid var(--color-outline);
    transition-property: border-color, box-shadow, transform;
    transition-duration: var(--duration-short);
    transition-timing-function: var(--ease-default);
  }

  /*
   * Below is code to add color to the portion of the slider before the thumb.
   *
   * While it looks great, it's only supported in Firefox (as of 2025), and I'd
   * rather not introduce this big of a difference between browsers. So it's
   * currently commented out and only here for reference.
   *
   * There is a proposal to standardize the pseudo-elements for range inputs,
   * which includes a "slider-fill" pseudo-element similar to Firefox's
   * "moz-range-progress". If it lands in browsers, we can revisit this.
   *
   * Reference: https://drafts.csswg.org/css-forms-1/#pseudo-elements
   */

  /* &::-moz-range-progress {
    background-size: 100vw;
    background-image: linear-gradient(
      to right,
      var(--color-brand-6),
      var(--color-brand-4)
    );
    border-radius: var(--radius-full);
    block-size: 0.25em;
    box-shadow: 0 0 1px var(--color-brand-4) inset;
  } */
}
