table.table,
:where(.style-semantic-elements table) {
  --table-bg-odd: var(--color-surface);
  --table-bg-even: var(--color-page);
  --table-vertical-border: var(--border-s);

  background-color: var(--color-surface);
  border-collapse: separate;
  border-spacing: 0;
  font-size: var(--font-size-m);
  border: var(--border-s) solid var(--color-border);
  border-radius: var(--radius-s);
  color: var(--color-text-primary);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);

  &.subtle {
    --table-bg-odd: transparent;
    --table-bg-even: transparent;
    --table-vertical-border: 0;

    background-color: transparent;
    color: inherit;
    border: 0;
  }

  &.dense :is(th, td) {
    padding: var(--space-3xs) var(--space-2xs);
  }

  &.sparse :is(th, td) {
    padding: var(--space-xs) var(--space-s);
  }

  caption {
    font-family: var(--font-family-heading);
    line-height: 1.15;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
    text-align: start;
    margin: 0 0 var(--space-2xs);
  }

  &.caption-below {
    caption-side: bottom;

    caption {
      font-family: var(--font-family-body);
      line-height: 1.25;
      font-size: var(--font-size-m);
      font-weight: var(--font-weight-normal);
      text-align: center;
      margin: var(--space-xs) 0;
      font-style: italic;
      color: var(--color-text-secondary);
    }
  }

  th,
  td {
    padding: var(--space-2xs) var(--space-xs);
  }

  th,
  tfoot td {
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-heading);
    text-align: center;
  }

  th {
    border-block-end: var(--border-m) solid var(--color-border);
  }

  tfoot td {
    border-block-start: var(--border-m) solid var(--color-border);
  }

  td {
    text-align: unset;
  }

  :is(th, tfoot td):not(:last-of-type) {
    border-inline-end: var(--table-vertical-border) dashed var(--color-border);
  }

  td:not(tfoot td, :last-of-type) {
    border-inline-end: var(--table-vertical-border) solid var(--color-border);
  }

  tr:not(:last-of-type) td {
    border-block-end: var(--border-s) solid var(--color-border);
  }

  tbody tr:nth-child(odd),
  tbody:has(tr:last-of-type:nth-child(even)) + tfoot tr {
    background-color: var(--table-bg-even);
  }

  tbody tr:nth-child(even) {
    background-color: var(--table-bg-odd);
  }
}
