.bold,
:where(.style-semantic-elements strong, .style-semantic-elements b) {
  font-weight: var(--font-weight-bold);
}

.italic,
:where(.style-semantic-elements em) {
  font-style: italic;
}

.underline {
  text-decoration-line: underline;
}

.strikethrough,
:where(.style-semantic-elements s) {
  text-decoration-line: line-through;
}

.underline.strikethrough {
  text-decoration-line: underline line-through;
}

.subscript,
.superscript,
:where(.style-semantic-elements sub, .style-semantic-elements sup) {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.subscript,
:where(.style-semantic-elements sub) {
  inset-block-end: -0.25em;
}

.superscript,
:where(.style-semantic-elements sup) {
  inset-block-start: -0.5em;
}

.code,
:where(.style-semantic-elements code) {
  font-family: var(--font-family-mono);
  background-color: var(--color-gray-extra-transparent);
  color: var(--color-gray-1);
  border-radius: var(--radius-s);
  display: inline;
  padding: 0.25ch 0.5ch;
  font-size: 0.9em;

  &.invert {
    color: var(--color-gray-9);
  }
}

.link .code,
:where(.style-semantic-elements a code) {
  text-decoration: inherit;
  text-decoration-color: inherit;
  text-decoration-thickness: inherit;
  color: inherit;
}

.clamp-1,
.clamp-2,
.clamp-3,
.clamp-4,
.clamp-5,
.clamp-6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-1 {
  -webkit-line-clamp: 1;
}

.clamp-2 {
  -webkit-line-clamp: 2;
}

.clamp-3 {
  -webkit-line-clamp: 3;
}

.clamp-4 {
  -webkit-line-clamp: 4;
}

.clamp-5 {
  -webkit-line-clamp: 5;
}

.clamp-6 {
  -webkit-line-clamp: 6;
}
