---
import PageTitle from "../components/PageTitle.astro";
import Layout from "./Layout.astro";

interface Props {
  name: string;
  description: string;
}

const { name, description } = Astro.props;
---

<Layout title={name}>
  <PageTitle title={name} subtitle={description} />
  <div class="stack vertical">
    <slot />
  </div>
</Layout>
