---
interface Props {
  space: string;
}
const { space } = Astro.props;
const style = `width: ${space};`;
---

<span class="root">
  <span class="vertical-line"></span>
  <span class="horizontal-line" style={style}></span>
  <span class="vertical-line"></span>
</span>
<style>
  .root {
    display: inline-flex;
    align-items: center;
  }
  .vertical-line {
    display: block;
    width: var(--border-s);
    height: 0.75em;
    background-color: var(--color-gray-6);
  }
  .horizontal-line {
    display: block;
    height: var(--border-s);
    background-color: var(--color-gray-6);
  }
</style>
