---
interface Props {
  color: string;
}

const { color } = Astro.props;
const style = `background-color: ${color};`;
---

<span class="swatch" style={style}></span>
<style>
  .swatch {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: var(--radius-s);
  }
</style>
