---
interface Props {
  easingFunctionName: string;
}

const { easingFunctionName } = Astro.props;
---

<div class="container card">
  <p class="card-title">ease-{easingFunctionName}</p>
  <div class="description"><slot /></div>
  <div class="track-wrapper">
    <div class="track"></div>
    <div
      class="ball"
      style={{ animationTimingFunction: `var(--ease-${easingFunctionName})` }}
    >
    </div>
  </div>
</div>
<style>
  .container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .description {
    margin-block-end: var(--space-xs) !important;
  }

  .track-wrapper {
    width: 100%;
    height: 2rem;
    position: relative;
  }

  .track {
    width: calc(100% - 4rem);
    height: var(--border-m);
    background: var(--color-border);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    border-radius: var(--radius-full);
  }

  .ball {
    width: 1.25rem;
    height: 1.25rem;
    background: var(--color-brand-5);
    border: var(--border-s) solid var(--color-brand-4);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: ball-animation 2s infinite;
  }

  @keyframes ball-animation {
    0% {
      left: 1.375rem;
    }
    100% {
      left: calc(100% - 1.25rem - 1.375rem);
    }
  }
</style>
