---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div class="card duration-example" x-data="{ clicked: false }">
  <p class="card-title">duration-{name}</p>
  <slot />
  <label
    class="wrapper"
    style={{ transitionDuration: `var(--duration-${name})` }}
  >
    <input type="checkbox" x-model="clicked" />
    Click or tap
  </label>
</div>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 10rem;
    block-size: 10rem;
    border-radius: var(--radius-m);
    border: var(--border-s) solid var(--color-blue-7);
    box-shadow: var(--shadow-s);
    background-color: var(--color-blue-8);
    color: var(--color-blue-2);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    box-sizing: border-box;
    overflow: clip;
    position: relative;
    transition-property: background-color, border-color, color, outline;
    transition-timing-function: var(--ease-default);
    user-select: none;
    outline: 0 solid transparent;
    cursor: pointer;
  }

  .wrapper input {
    appearance: none;
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    outline: 0;
    cursor: pointer;
  }

  .wrapper:has(input:checked) {
    background-color: var(--color-red-8);
    border-color: var(--color-red-7);
    color: var(--color-red-2);
  }

  .wrapper:has(input:focus-visible) {
    outline: var(--border-m) solid var(--color-blue-7);
  }

  .wrapper:has(input:checked:focus-visible) {
    outline: var(--border-m) solid var(--color-red-7);
  }
</style>

<style is:global>
  @keyframes progress {
    0% {
      inline-size: 0%;
    }
    100% {
      inline-size: 100%;
    }
  }
</style>
