---
interface Props {
  name: string;
  description: string;
}

const { name, description } = Astro.props;

const backgroundColor = `var(--color-${name})`;
---

<div class="semantic-color">
  <div class="swatch" style={{ backgroundColor }}></div>
  <strong class="name">color-{name}</strong>
  <div class="description">{description}</div>
</div>

<style>
  .semantic-color {
    background-color: var(--color-surface-primary);
    padding: var(--space-s);
    border-radius: var(--radius-m);
    border: var(--border-s) solid var(--color-border);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0 var(--space-xs);
    place-items: center start;
  }

  .swatch {
    height: 2rem;
    width: 2rem;
    border-radius: var(--radius-s);
    border: var(--border-s) solid var(--color-border);
    grid-row: 1;
    grid-column: 1;
  }

  .name {
    text-wrap: nowrap;
    grid-row: 1;
    grid-column: 2;
    margin-inline-end: auto;
  }

  .description {
    grid-row: 2;
    grid-column: 1 / span 2;
    margin-block-start: var(--space-2xs);
  }
</style>
