---
interface Props {
  name: string;
  description: string;
  deprecatedAliases?: string[];
}

const { name, description, deprecatedAliases } = Astro.props;

const backgroundColor = `var(--color-${name})`;
const hasMultipleDeprecatedAliases =
  Array.isArray(deprecatedAliases) && deprecatedAliases.length > 1;
---

<div class="semantic-color">
  <div class="swatch" style={{ backgroundColor }}></div>
  <strong class="name">color-{name}</strong>
  {
    deprecatedAliases && (
      <div class="deprecated-alias">
        Previously
        <strong>
          {deprecatedAliases.map((name) => `color-${name}`).join(", ")}
        </strong>
        . {hasMultipleDeprecatedAliases ? "These" : "This"} deprecated{" "}
        {hasMultipleDeprecatedAliases ? "aliases" : "alias"}
        will be removed in version 1.0.
      </div>
    )
  }
  <div class="description">{description}</div>
</div>

<style>
  .semantic-color {
    background-color: var(--color-surface-primary);
    padding: var(--space-s);
    border-radius: var(--radius-m);
    border: var(--border-s) solid var(--color-border);
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 0 var(--space-xs);
    place-items: center start;
  }

  .swatch {
    height: 2rem;
    width: 2rem;
    border-radius: var(--radius-s);
    border: var(--border-s) solid var(--color-border);
    grid-row: span 2;
  }

  .name {
    text-wrap: nowrap;
    grid-column: 2 / span 2;
    margin-inline-end: auto;
  }

  .description {
    grid-column: 1 / span 3;
    margin-block-start: var(--space-2xs);
  }

  .deprecated-alias {
    grid-column: 2 / span 2;
    font-size: var(--font-size-s);
    color: var(--color-yellow-4);
  }
</style>
