---
interface Props {
  name: string;
}

const { name } = Astro.props;

const backgroundColor = `var(--color-${name})`;
---

<div class="swatch" style={{ backgroundColor }}></div>
<strong>{name}</strong>
<span><slot /></span>

<style>
  .swatch {
    height: 2rem;
    width: 2rem;
    border-radius: var(--radius-s);
    border: var(--border-s) solid var(--color-outline);
    flex-shrink: 0;
  }

  strong {
    text-wrap: nowrap;
  }
</style>
