---
interface Props {
  size: string;
}

const { size } = Astro.props;
---

<div class="box" style={{ boxShadow: `var(--shadow-${size})` }}>
  shadow-{size}
</div>
<style>
  .box {
    border: var(--border-s) solid var(--color-border);
    height: 4rem;
    width: 12rem;
    font-family: var(--font-family-mono);
    border-radius: var(--radius-m);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface);
    margin-bottom: var(--space-m);
  }
</style>
