/* Define all custom properties at the root */
:root,
/* Explicitly redefine on ::backdrop for compatibility with older browsers (see https://caniuse.com/mdn-css_selectors_backdrop_inherit_from_originating_element) */
::backdrop,
/* On certain elements, redefine to prevent inheritance of light/dark mode from parents */
.modal,
.drawer,
.light-mode,
.dark-mode {
  /* Brand */
  --color-brand-1: light-dark(#08003b, #e9f0ff);
  --color-brand-2: light-dark(#190074, #cad6ff);
  --color-brand-3: light-dark(#290fa3, #9fb0ff);
  --color-brand-4: light-dark(#3c35cb, #7382ff);
  --color-brand-5: light-dark(#545be7, #5961ee);
  --color-brand-6: light-dark(#6f7dff, #4344cf);
  --color-brand-7: light-dark(#93a4ff, #3124b1);
  --color-brand-8: light-dark(#bbc9ff, #230095);
  --color-brand-9: light-dark(#e5edff, #0b004a);
  --color-brand-transparent: light-dark(#545be766, #5961ee80);
  --color-brand-extra-transparent: light-dark(#545be733, #5961ee59);

  /* Red */
  --color-red-1: light-dark(#240000, #fce6e1);
  --color-red-2: light-dark(#4d0000, #ffc5b8);
  --color-red-3: light-dark(#6a0000, #fd8873);
  --color-red-4: light-dark(#9f0000, #ec543f);
  --color-red-5: light-dark(#c41e0f, #d12f1e);
  --color-red-6: light-dark(#dd3f2c, #b20f08);
  --color-red-7: light-dark(#fa6851, #850000);
  --color-red-8: light-dark(#ffa794, #5c0000);
  --color-red-9: light-dark(#ffe3dc, #390000);
  --color-red-transparent: light-dark(#c41e0f66, #d12f1e80);
  --color-red-extra-transparent: light-dark(#c41e0f33, #d12f1e59);

  /* Orange */
  --color-orange-1: light-dark(#1c0300, #ffe9d6);
  --color-orange-2: light-dark(#3e1500, #ffcfa5);
  --color-orange-3: light-dark(#632500, #fca45c);
  --color-orange-4: light-dark(#a04000, #e87f1f);
  --color-orange-5: light-dark(#bd5500, #ca6202);
  --color-orange-6: light-dark(#d76f04, #af4b00);
  --color-orange-7: light-dark(#f98f3a, #823300);
  --color-orange-8: light-dark(#ffb87e, #511d00);
  --color-orange-9: light-dark(#ffe6cc, #2d0c00);
  --color-orange-transparent: light-dark(#bd550066, #ca620280);
  --color-orange-extra-transparent: light-dark(#bd550033, #ca620259);

  /* Yellow */
  --color-yellow-1: light-dark(#241400, #fcf3d5);
  --color-yellow-2: light-dark(#422700, #f5e5b2);
  --color-yellow-3: light-dark(#5f3700, #e9cf7d);
  --color-yellow-4: light-dark(#985e00, #d6b540);
  --color-yellow-5: light-dark(#af8205, #be9614);
  --color-yellow-6: light-dark(#cca923, #a47003);
  --color-yellow-7: light-dark(#e0c15c, #7c4b00);
  --color-yellow-8: light-dark(#f1dd9d, #512f00);
  --color-yellow-9: light-dark(#f9efce, #331e00);
  --color-yellow-transparent: light-dark(#af820566, #be961480);
  --color-yellow-extra-transparent: light-dark(#af820533, #be961459);

  /* Green */
  --color-green-1: light-dark(#001001, #dff9df);
  --color-green-2: light-dark(#032b05, #b4f0b2);
  --color-green-3: light-dark(#09400f, #77d478);
  --color-green-4: light-dark(#15611b, #48b64e);
  --color-green-5: light-dark(#198227, #269631);
  --color-green-6: light-dark(#33aa3b, #177221);
  --color-green-7: light-dark(#5cc260, #0f5115);
  --color-green-8: light-dark(#91e590, #06360a);
  --color-green-9: light-dark(#d6fad4, #021e03);
  --color-green-transparent: light-dark(#19822766, #26963180);
  --color-green-extra-transparent: light-dark(#19822733, #26963159);

  /* Teal */
  --color-teal-1: light-dark(#001011, #d5fbfb);
  --color-teal-2: light-dark(#002a2b, #a3eded);
  --color-teal-3: light-dark(#014646, #3ed5d5);
  --color-teal-4: light-dark(#006566, #00b8b9);
  --color-teal-5: light-dark(#007d7e, #009293);
  --color-teal-6: light-dark(#00a7a8, #007172);
  --color-teal-7: light-dark(#00c8c9, #015656);
  --color-teal-8: light-dark(#7ce1e1, #013839);
  --color-teal-9: light-dark(#caf9f8, #001d1e);
  --color-teal-transparent: light-dark(#007d7e66, #00929380);
  --color-teal-extra-transparent: light-dark(#007d7e33, #00929359);

  /* Blue */
  --color-blue-1: light-dark(#00031f, #d6f0ff);
  --color-blue-2: light-dark(#041747, #acdcff);
  --color-blue-3: light-dark(#132f6c, #5db6ff);
  --color-blue-4: light-dark(#15489f, #2c91fa);
  --color-blue-5: light-dark(#105dc7, #1b6dde);
  --color-blue-6: light-dark(#257df5, #1952b2);
  --color-blue-7: light-dark(#33a4ff, #143c86);
  --color-blue-8: light-dark(#86c8ff, #0c235a);
  --color-blue-9: light-dark(#d1efff, #020d33);
  --color-blue-transparent: light-dark(#105dc766, #1b6dde80);
  --color-blue-extra-transparent: light-dark(#105dc733, #1b6dde59);

  /* Purple */
  --color-purple-1: light-dark(#170029, #f6e8fb);
  --color-purple-2: light-dark(#30004a, #f2cdff);
  --color-purple-3: light-dark(#570081, #dba2fe);
  --color-purple-4: light-dark(#7819a8, #c278f3);
  --color-purple-5: light-dark(#9640ca, #a651da);
  --color-purple-6: light-dark(#b562ea, #872db9);
  --color-purple-7: light-dark(#ce8dfc, #680d95);
  --color-purple-8: light-dark(#e8b6ff, #406);
  --color-purple-9: light-dark(#fbe4ff, #24003a);
  --color-purple-transparent: light-dark(#9640ca66, #a651da80);
  --color-purple-extra-transparent: light-dark(#9640ca33, #a651da59);

  /* Magenta */
  --color-magenta-1: light-dark(#21000c, #ffe3ef);
  --color-magenta-2: light-dark(#410120, #ffc7e0);
  --color-magenta-3: light-dark(#73003d, #ff95c1);
  --color-magenta-4: light-dark(#9b0058, #f167a2);
  --color-magenta-5: light-dark(#c32775, #d43c84);
  --color-magenta-6: light-dark(#e45193, #af1467);
  --color-magenta-7: light-dark(#fe7cb1, #87004b);
  --color-magenta-8: light-dark(#ffadd0, #5a012f);
  --color-magenta-9: light-dark(#ffe1f0, #310116);
  --color-magenta-transparent: light-dark(#c3277566, #d43c8480);
  --color-magenta-extra-transparent: light-dark(#c3277533, #d43c8459);

  /* Gray */
  --color-gray-1: light-dark(#090b0f, #ebeff3);
  --color-gray-2: light-dark(#202226, #d4d8dc);
  --color-gray-3: light-dark(#383b3f, #b1b4b9);
  --color-gray-4: light-dark(#53555a, #8f9297);
  --color-gray-5: light-dark(#6f7276, #75787c);
  --color-gray-6: light-dark(#8d8f94, #5b5e62);
  --color-gray-7: light-dark(#abaeb3, #424549);
  --color-gray-8: light-dark(#cbced3, #303337);
  --color-gray-9: light-dark(#eceff4, #121417);
  --color-gray-transparent: light-dark(#6f727666, #75787c80);
  --color-gray-extra-transparent: light-dark(#6f727633, #75787c59);

  /* Semantic colors */
  --color-surface-primary: light-dark(#fff, #010203);
  --color-surface-secondary: light-dark(#f9fafc, #14161a);
  --color-surface-tertiary: light-dark(#eceff4, #212327);
  --color-text-primary: light-dark(#030305, #fff);
  --color-text-secondary: light-dark(#404247, #ccced0);
  --color-text-tertiary: var(--color-brand-3);
  --color-contrast-background: var(--color-brand-1);
  --color-contrast-text: light-dark(#fff, #030305);
  --color-shadow: light-dark(#45484c26, #00000166);
  --color-border: light-dark(#e2e5ea, #303337);

  /* Font sizes */
  --font-size-xs: clamp(0.6944rem, 0.6855rem + 0.0446vw, 0.72rem);
  --font-size-s: clamp(0.8331rem, 0.8099rem + 0.1163vw, 0.9rem);
  --font-size-m: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --font-size-l: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --font-size-xl: clamp(1.44rem, 1.3293rem + 0.5533vw, 1.7581rem);
  --font-size-2xl: clamp(1.7281rem, 1.5649rem + 0.8163vw, 2.1975rem);
  --font-size-3xl: clamp(2.0738rem, 1.8396rem + 1.1707vw, 2.7469rem);
  --font-size-4xl: clamp(2.4881rem, 2.1594rem + 1.6435vw, 3.4331rem);

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Font families */
  --font-family-body:
    "Avenir Next", avenir, "Segoe UI Variable Display", "Segoe UI",
    "URW Gothic", source-sans-pro, "Noto Sans", ui-sans-serif, sans-serif;
  --font-family-heading:
    seravek, tahoma, cantarell, "DejaVu Sans", source-sans-pro, ui-sans-serif,
    sans-serif;
  --font-family-mono: ui-monospace, "Cascadia Code", menlo, hack, monospace;

  /* Spacing */
  --space-none: 0;
  --space-3xs: clamp(4px, 3.6528px + 0.1087vw, 5px);
  --space-2xs: clamp(8px, 7.6528px + 0.1087vw, 9px);
  --space-xs: clamp(12px, 11.304px + 0.2174vw, 14px);
  --space-s: clamp(16px, 15.304px + 0.2174vw, 18px);
  --space-m: clamp(24px, 22.9568px + 0.3261vw, 27px);
  --space-l: clamp(32px, 30.608px + 0.4348vw, 36px);
  --space-xl: clamp(48px, 45.9136px + 0.6522vw, 54px);
  --space-2xl: clamp(64px, 61.2176px + 0.8696vw, 72px);
  --space-3xl: clamp(96px, 91.8256px + 1.3043vw, 108px);
  --space-body-x: clamp(20px, 17.5652px + 0.7609vw, 27px);
  --space-body-y: 20px;

  /* Radii */
  --radius-none: 0;
  --radius-s: 3px;
  --radius-m: 6px;
  --radius-l: 12px;
  --radius-xl: 24px;
  --radius-2xl: 64px;
  --radius-full: 9999px;

  /* Shadows */
  --shadow-none: none;
  --shadow-s: 0 1px 3px -1px var(--color-shadow);
  --shadow-m: 0 1px 7px -1px var(--color-shadow);
  --shadow-l: var(--shadow-s), 0 2px 11px -1px var(--color-shadow);
  --shadow-xl: var(--shadow-m), 0 3px 15px -1px var(--color-shadow);

  /* Border widths */
  --border-none: 0;
  --border-s: 1px;
  --border-m: 2px;
  --border-l: 5px;
  --border-xl: 8px;

  /* Opacity */
  --opacity-disabled: 0.65;

  @media (prefers-color-scheme: dark) {
    --opacity-disabled: 0.5;
  }

  /* Easing functions */
  --ease-default: cubic-bezier(0.53, 0.37, 0.28, 0.95);
  --ease-out: cubic-bezier(0.17, 0.84, 0.44, 1);
  --ease-in: cubic-bezier(0.7, 0.1, 0.8, 0.65);
  --ease-both: cubic-bezier(0.65, 0.05, 0.36, 1);
  --ease-both-subtle: cubic-bezier(0.45, 0.12, 0.55, 0.88);
  --ease-spring: cubic-bezier(0.95, -0.55, 0.05, 1.55);

  /* Durations */
  --duration-s: 100ms;
  --duration-m: 150ms;
  --duration-l: 250ms;
  --duration-xl: 350ms;

  /* Frosted glass */
  --glass-bg-color: light-dark(#fff9, #30333799);
  --glass-fg-color: light-dark(black, white);
  --glass-border-color: light-dark(#fff8, #42454988);
  --glass-filter: blur(32px) saturate(120%);
}
