/* Define all custom properties at the root */
:root,
/* Explicitly redefine on ::backdrop for compatibility with older browsers (see https://caniuse.com/mdn-css_selectors_backdrop_inherit_from_originating_element) */
::backdrop,
/* On certain elements, redefine to prevent inheritance of light/dark mode from parents */
.modal,
.drawer,
.light-mode,
.dark-mode {
  /* Brand */
  --color-brand-1: light-dark(#08003b, #e9f0ff);
  --color-brand-2: light-dark(#190074, #cad6ff);
  --color-brand-3: light-dark(#290fa3, #9fb0ff);
  --color-brand-4: light-dark(#3c35cb, #7382ff);
  --color-brand-5: light-dark(#545be7, #5961ee);
  --color-brand-6: light-dark(#6f7dff, #4344cf);
  --color-brand-7: light-dark(#93a4ff, #3124b1);
  --color-brand-8: light-dark(#bbc9ff, #230095);
  --color-brand-9: light-dark(#e5edff, #0b004a);
  --color-brand-transparent: light-dark(#545be766, #5961ee80);
  --color-brand-extra-transparent: light-dark(#545be733, #5961ee59);

  /* Red */
  --color-red-1: light-dark(#240000, #ffe3dc);
  --color-red-2: light-dark(#4d0000, #ffc3b6);
  --color-red-3: light-dark(#7a0000, #ff8875);
  --color-red-4: light-dark(#a90000, #f45441);
  --color-red-5: light-dark(#cc2a1b, #d33223);
  --color-red-6: light-dark(#f0503d, #b30000);
  --color-red-7: light-dark(#ff7c68, #8d0000);
  --color-red-8: light-dark(#ffb4a5, #6c0000);
  --color-red-9: light-dark(#ffe3dc, #340000);
  --color-red-transparent: light-dark(#cc2a1b66, #d3322380);
  --color-red-extra-transparent: light-dark(#cc2a1b33, #d3322359);

  /* Orange */
  --color-orange-1: light-dark(#1c0300, #ffe5d0);
  --color-orange-2: light-dark(#3e1200, #ffc5a0);
  --color-orange-3: light-dark(#632500, #ff9559);
  --color-orange-4: light-dark(#8b3a00, #d97234);
  --color-orange-5: light-dark(#b45100, #ba570d);
  --color-orange-6: light-dark(#d76f04, #9c3b00);
  --color-orange-7: light-dark(#f98f3a, #782700);
  --color-orange-8: light-dark(#ffb87e, #5c1900);
  --color-orange-9: light-dark(#ffe6cc, #2c0400);
  --color-orange-transparent: light-dark(#b4510066, #ba570d80);
  --color-orange-extra-transparent: light-dark(#b4510033, #ba570d59);

  /* Yellow */
  --color-yellow-1: light-dark(#140900, #fdf4d5);
  --color-yellow-2: light-dark(#2f1e00, #fadfa6);
  --color-yellow-3: light-dark(#4e3700, #fdd171);
  --color-yellow-4: light-dark(#7a5700, #dfaf3f);
  --color-yellow-5: light-dark(#a57c00, #c69720);
  --color-yellow-6: light-dark(#c89808, #a17807);
  --color-yellow-7: light-dark(#dfb22b, #750);
  --color-yellow-8: light-dark(#efcb72, #4e3700);
  --color-yellow-9: light-dark(#f8edc1, #211500);
  --color-yellow-transparent: light-dark(#a57c0066, #a57c0080);
  --color-yellow-extra-transparent: light-dark(#a57c0033, #a57c0059);

  /* Green */
  --color-green-1: light-dark(#011000, #dff4d3);
  --color-green-2: light-dark(#0c2a00, #bbe7a5);
  --color-green-3: light-dark(#1d4600, #8ecb6b);
  --color-green-4: light-dark(#2f6500, #63a736);
  --color-green-5: light-dark(#438500, #498b0f);
  --color-green-6: light-dark(#5fa500, #2e7000);
  --color-green-7: light-dark(#7dc53a, #1c5400);
  --color-green-8: light-dark(#a4e472, #113f00);
  --color-green-9: light-dark(#dafbc4, #011b00);
  --color-green-transparent: light-dark(#43850066, #498b0f80);
  --color-green-extra-transparent: light-dark(#43850033, #498b0f59);

  /* Teal */
  --color-teal-1: light-dark(#001011, #c8f6f5);
  --color-teal-2: light-dark(#002a2b, #9ee7e7);
  --color-teal-3: light-dark(#004747, #61c7c8);
  --color-teal-4: light-dark(#006566, #3aa4a5);
  --color-teal-5: light-dark(#008586, #0b8889);
  --color-teal-6: light-dark(#00a7a8, #006d6f);
  --color-teal-7: light-dark(#00c8c9, #005254);
  --color-teal-8: light-dark(#76e2e2, #003e3f);
  --color-teal-9: light-dark(#caf9f8, #001a1b);
  --color-teal-transparent: light-dark(#00858666, #0b888980);
  --color-teal-extra-transparent: light-dark(#00858633, #0b888959);

  /* Blue */
  --color-blue-1: light-dark(#00003e, #ddf0ff);
  --color-blue-2: light-dark(#00007a, #b9d9ff);
  --color-blue-3: light-dark(#002b97, #7eb4ff);
  --color-blue-4: light-dark(#004abd, #418dff);
  --color-blue-5: light-dark(#1c69e3, #2370ea);
  --color-blue-6: light-dark(#3988ff, #0053cb);
  --color-blue-7: light-dark(#74adff, #0035ac);
  --color-blue-8: light-dark(#a9cfff, #001a95);
  --color-blue-9: light-dark(#ddf0ff, #005);
  --color-blue-transparent: light-dark(#1c69e366, #2370ea80);
  --color-blue-extra-transparent: light-dark(#1c69e333, #2370ea59);

  /* Purple */
  --color-purple-1: light-dark(#170029, #fbe4ff);
  --color-purple-2: light-dark(#370054, #edc4ff);
  --color-purple-3: light-dark(#5a0085, #d88eff);
  --color-purple-4: light-dark(#7819a8, #b864ef);
  --color-purple-5: light-dark(#9640ca, #9c47d1);
  --color-purple-6: light-dark(#b562ea, #8127b3);
  --color-purple-7: light-dark(#ce8dfc, #660095);
  --color-purple-8: light-dark(#e8b6ff, #4f0076);
  --color-purple-9: light-dark(#fbe4ff, #23003a);
  --color-purple-transparent: light-dark(#9640ca66, #9c47d180);
  --color-purple-extra-transparent: light-dark(#9640ca33, #9c47d159);

  /* Magenta */
  --color-magenta-1: light-dark(#21000c, #ffe1ef);
  --color-magenta-2: light-dark(#480023, #ffbdd9);
  --color-magenta-3: light-dark(#73003d, #ff7db8);
  --color-magenta-4: light-dark(#9b0058, #ea5096);
  --color-magenta-5: light-dark(#c32775, #ca2f7b);
  --color-magenta-6: light-dark(#e45193, #aa0061);
  --color-magenta-7: light-dark(#fe7cb1, #850048);
  --color-magenta-8: light-dark(#ffadd0, #660035);
  --color-magenta-9: light-dark(#ffe1f0, #300015);
  --color-magenta-transparent: light-dark(#c3277566, #ca2f7b80);
  --color-magenta-extra-transparent: light-dark(#c3277533, #ca2f7b59);

  /* Gray */
  --color-gray-1: light-dark(#090b0f, #ebeff3);
  --color-gray-2: light-dark(#202226, #d4d8dc);
  --color-gray-3: light-dark(#383b3f, #b1b4b9);
  --color-gray-4: light-dark(#53555a, #8f9297);
  --color-gray-5: light-dark(#6f7276, #75787c);
  --color-gray-6: light-dark(#8d8f94, #5b5e62);
  --color-gray-7: light-dark(#abaeb3, #424549);
  --color-gray-8: light-dark(#cbced3, #303337);
  --color-gray-9: light-dark(#eceff4, #121417);
  --color-gray-transparent: light-dark(#6f727666, #75787c80);
  --color-gray-extra-transparent: light-dark(#6f727633, #75787c59);

  /* Semantic colors */
  --color-body: light-dark(#f9fafc, #14161a);
  --color-body-alt: light-dark(#fff, #010203);
  --color-body-text: light-dark(#030305, #fff);
  --color-body-text-alt: light-dark(#404247, #ccced0);
  --color-body-text-invert: light-dark(#fff, #030305);
  --color-shadow: light-dark(#45484c26, #00000166);
  --color-border: light-dark(#d8dbe0, #434549);

  /* Font sizes */
  --font-size-xs: clamp(0.6944rem, 0.6855rem + 0.0446vw, 0.72rem);
  --font-size-s: clamp(0.8331rem, 0.8099rem + 0.1163vw, 0.9rem);
  --font-size-m: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --font-size-l: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --font-size-xl: clamp(1.44rem, 1.3293rem + 0.5533vw, 1.7581rem);
  --font-size-2xl: clamp(1.7281rem, 1.5649rem + 0.8163vw, 2.1975rem);
  --font-size-3xl: clamp(2.0738rem, 1.8396rem + 1.1707vw, 2.7469rem);
  --font-size-4xl: clamp(2.4881rem, 2.1594rem + 1.6435vw, 3.4331rem);

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Font families */
  --font-family-body:
    "Avenir Next", avenir, "Segoe UI Variable Display", "Segoe UI",
    "URW Gothic", source-sans-pro, ui-sans-serif, sans-serif;
  --font-family-heading:
    seravek, "Gill Sans Nova", "Gill Sans MT", cantarell, "DejaVu Sans",
    source-sans-pro, ui-sans-serif, sans-serif;
  --font-family-mono: ui-monospace, "Cascadia Code", menlo, hack, monospace;

  /* Spacing */
  --space-none: 0;
  --space-3xs: clamp(4px, 3.6528px + 0.1087vw, 5px);
  --space-2xs: clamp(8px, 7.6528px + 0.1087vw, 9px);
  --space-xs: clamp(12px, 11.304px + 0.2174vw, 14px);
  --space-s: clamp(16px, 15.304px + 0.2174vw, 18px);
  --space-m: clamp(24px, 22.9568px + 0.3261vw, 27px);
  --space-l: clamp(32px, 30.608px + 0.4348vw, 36px);
  --space-xl: clamp(48px, 45.9136px + 0.6522vw, 54px);
  --space-2xl: clamp(64px, 61.2176px + 0.8696vw, 72px);
  --space-3xl: clamp(96px, 91.8256px + 1.3043vw, 108px);
  --space-body-x: clamp(20px, 17.5652px + 0.7609vw, 27px);
  --space-body-y: 20px;

  /* Radii */
  --radius-none: 0;
  --radius-s: 3px;
  --radius-m: 6px;
  --radius-l: 12px;
  --radius-xl: 24px;
  --radius-2xl: 64px;
  --radius-full: 9999px;

  /* Shadows */
  --shadow-none: none;
  --shadow-s: 0 1px 3px -1px var(--color-shadow);
  --shadow-m: 0 1px 7px -1px var(--color-shadow);
  --shadow-l: var(--shadow-s), 0 1px 11px -1px var(--color-shadow);
  --shadow-xl: var(--shadow-m), 0 1px 15px -1px var(--color-shadow);

  /* Border widths */
  --border-none: 0;
  --border-s: 1px;
  --border-m: 2px;
  --border-l: 5px;
  --border-xl: 8px;

  /* Opacity */
  --opacity-disabled: 0.65;

  @media (prefers-color-scheme: dark) {
    --opacity-disabled: 0.5;
  }

  /* Easing functions */
  --ease-default: cubic-bezier(0.6, 0.22, 0.45, 0.9);
  --ease-out: cubic-bezier(0.17, 0.84, 0.44, 1);
  --ease-in: cubic-bezier(0.7, 0.1, 0.8, 0.65);
  --ease-both: cubic-bezier(0.65, 0.05, 0.36, 1);
  --ease-both-subtle: cubic-bezier(0.45, 0.12, 0.55, 0.88);
  --ease-spring: cubic-bezier(0.95, -0.55, 0.05, 1.55);

  /* Durations */
  --duration-short: 100ms;
  --duration-medium: 150ms;
  --duration-long: 250ms;
  --duration-extra-long: 350ms;

  /**************************************************************
   * Tokens prefixed with --internal- are for internal use only *
   **************************************************************/

  --internal-glass-bg-color: light-dark(#fff9, #30333799);
  --internal-glass-fg-color: light-dark(black, white);
  --internal-glass-border-color: light-dark(#fff8, #42454988);
  --internal-glass-filter: blur(32px) saturate(120%);
}
