*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

body {
  min-height: 100svh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

abbr[title] {
  text-decoration: underline dotted;
}

small {
  font-size: 0.8em;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
