@use "sass:map";
@use "sass:color";
@use "sass:math";

@mixin color-variations($name, $hue, $chroma-multiplier: 1) {
  $chroma: "var(--chroma)";

  @if $chroma-multiplier < 1 {
    $chroma: "calc(var(--chroma) * #{$chroma-multiplier})";
  }

  @for $i from 1 through 9 {
    --color-#{$name}-#{$i}: oklch(var(--lightness-#{$i}) #{$chroma} #{$hue});
  }

  --color-#{$name}-transparent: oklch(
    var(--lightness-5) #{$chroma} #{$hue} / var(--opacity-medium)
  );
  --color-#{$name}-extra-transparent: oklch(
    var(--lightness-5) #{$chroma} #{$hue} / var(--opacity-low)
  );
  --color-#{$name}-tint: color-mix(
    in oklab,
    var(--color-#{$name}-8) var(--tint-mix-proportion),
    var(--color-body-alt)
  );
}

:root,
::backdrop {
  // Color components
  --chroma: calc(var(--config-vividness, 0.5) * 100%);
  --tint-mix-proportion: 25%;
  --lightness-1: 15%;
  --lightness-2: 25%;
  --lightness-3: 35%;
  --lightness-4: 45%;
  --lightness-5: 55%;
  --lightness-6: 65%;
  --lightness-7: 76%;
  --lightness-8: 86%;
  --lightness-9: 98%;
  --opacity-low: 20%;
  --opacity-medium: 40%;
  --opacity-high: 70%;

  // Color palettes
  @include color-variations(
    $name: "brand",
    $hue: var(--config-brand-hue, 222deg)
  );
  @include color-variations($name: "red", $hue: 30);
  @include color-variations($name: "orange", $hue: 61);
  @include color-variations($name: "yellow", $hue: 90);
  @include color-variations($name: "green", $hue: 133);
  @include color-variations($name: "sky", $hue: 200);
  @include color-variations($name: "blue", $hue: 260);
  @include color-variations($name: "purple", $hue: 310);
  @include color-variations($name: "magenta", $hue: 356);
  @include color-variations($name: "gray", $hue: 263, $chroma-multiplier: 0.03);

  // Individual colors
  --color-body: oklch(98% calc(var(--config-vividness, 0.5) * 3%) 268deg);
  --color-body-alt: white;
  --color-body-text: oklch(10% calc(var(--config-vividness, 0.5) * 3%) 268deg);
  --color-body-text-alt: oklch(
    38% calc(var(--config-vividness, 0.5) * 3%) 268deg
  );
  --color-shadow: oklch(
    40% calc(var(--config-vividness, 0.5) * 3%) 268deg / 15%
  );
  --color-outline: oklch(89% calc(var(--config-vividness, 0.5) * 3%) 268deg);

  @media (prefers-color-scheme: dark) {
    // Lightness scale is different in dark mode
    --lightness-1: 98%;
    --lightness-2: 86%;
    --lightness-3: 75%;
    --lightness-4: 64%;
    --lightness-5: 54%;
    --lightness-6: 44%;
    --lightness-7: 33%;
    --lightness-8: 22%;
    --lightness-9: 12%;

    // Darker replacements for semantic colors
    --color-body: oklch(22% calc(var(--config-vividness, 0.5) * 3%) 268deg);
    --color-body-alt: black;
    --color-body-text: white;
    --color-body-text-alt: oklch(
      88% calc(var(--config-vividness, 0.5) * 3%) 268deg
    );
    --color-shadow: oklch(
      5% calc(var(--config-vividness, 0.5) * 3%) 268deg / 25%
    );
    --color-outline: oklch(39% calc(var(--config-vividness, 0.5) * 3%) 268deg);

    // Slightly decrease font weights
    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-semibold: 550;
    --font-weight-normal: 375;

    // Slightly increase opacity
    --opacity-low: 35%;
    --opacity-medium: 50%;
    --opacity-high: 80%;

    // Tint colors need more oomph when blended with black
    --tint-mix-proportion: 70%;
  }

  // Font sizes
  --font-size-xs: clamp(0.6944rem, 0.6855rem + 0.0446vw, 0.72rem);
  --font-size-s: clamp(0.8331rem, 0.8099rem + 0.1163vw, 0.9rem);
  --font-size-m: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --font-size-l: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --font-size-xl: clamp(1.44rem, 1.3293rem + 0.5533vw, 1.7581rem);
  --font-size-2xl: clamp(1.7281rem, 1.5649rem + 0.8163vw, 2.1975rem);
  --font-size-3xl: clamp(2.0738rem, 1.8396rem + 1.1707vw, 2.7469rem);
  --font-size-4xl: clamp(2.4881rem, 2.1594rem + 1.6435vw, 3.4331rem);

  // Font weights
  --font-weight-black: 950;
  --font-weight-bold: 750;
  --font-weight-semibold: 600;
  --font-weight-normal: 400;
  --font-weight-light: 200;

  // Font families
  --font-family-body: var(--config-body-font, sans-serif);
  --font-family-heading: var(--config-heading-font, var(--font-family-body));
  --font-family-ui: var(--config-ui-font, system-ui);
  --font-family-mono: var(--config-mono-font, monospace);

  // Spacing
  --space-3xs: clamp(4px, 3.6528px + 0.1087vw, 5px);
  --space-2xs: clamp(8px, 7.6528px + 0.1087vw, 9px);
  --space-xs: clamp(12px, 11.304px + 0.2174vw, 14px);
  --space-s: clamp(16px, 15.304px + 0.2174vw, 18px);
  --space-m: clamp(24px, 22.9568px + 0.3261vw, 27px);
  --space-l: clamp(32px, 30.608px + 0.4348vw, 36px);
  --space-xl: clamp(48px, 45.9136px + 0.6522vw, 54px);
  --space-2xl: clamp(64px, 61.2176px + 0.8696vw, 72px);
  --space-3xl: clamp(96px, 91.8256px + 1.3043vw, 108px);

  // Between xs and m based on screen width
  --space-body: clamp(12px, 6.7824px + 1.6304vw, 27px);

  // Radii
  --radius-none: 0;
  --radius-s: calc(var(--config-roundness, 0.3) * 5px);
  --radius-m: calc(var(--config-roundness, 0.3) * 10px);
  --radius-l: calc(var(--config-roundness, 0.3) * 20px);
  --radius-xl: calc(var(--config-roundness, 0.3) * 40px);
  --radius-2xl: calc(var(--config-roundness, 0.3) * 100px);
  --radius-full: 9999px;

  // Shadows
  --shadow-none: none;
  --shadow-s: 0 1px calc(2px + var(--config-depth, 0.5) * 6px) -1px var(--color-shadow);
  --shadow-m: 0 1px calc(2px + var(--config-depth, 0.5) * 10px)
    var(--color-shadow);
  --shadow-l: var(--shadow-s),
    0 1px calc(3px + var(--config-depth, 0.5) * 18px) var(--color-shadow);
  --shadow-xl: var(--shadow-m),
    0 1px calc(5px + var(--config-depth, 0.5) * 30px) var(--color-shadow);

  // Border widths
  --border-none: 0;
  --border-s: 1px;
  --border-m: 2px;
  --border-l: 5px;
  --border-xl: 8px;
}
