@use "./reset";
@use "./variables";
@use "./components/alert";
@use "./components/button";
@use "./components/card";
@use "./components/chip";
@use "./components/details";
@use "./components/dialog";
@use "./components/field";
@use "./components/hr";
@use "./components/layout";
@use "./components/range";
@use "./components/skeleton";
@use "./components/switch";
@use "./components/table";
@use "./components/text";

body {
  background-color: var(--color-body);
  color: var(--color-body-text);
  font-family: var(--font-family-body);
  font-size: var(--font-size-s);
}
