---
import ComponentDocumentation from "../../layouts/ComponentDocumentation.astro";
import UsageExample from "../../components/UsageExample.astro";
---

<ComponentDocumentation
  name="Abbreviation"
  description="A shortened form of a long word or phrase."
>
  <UsageExample
    name="Basic Usage"
    description="..."
    code={`
      <p class="paragraph">
        It's commonly believed that the first usage of the term
        <button class="abbreviation" popovertarget="omg-definition" interestfor="omg-definition">OMG</button>
        <span id="omg-definition" class="definition" popover>Oh My God</span>
        was in a letter written to Winston Churchill in 1917.
      </p>
    `}
  />
</ComponentDocumentation>
