---
import IndexLayout from "../../layouts/IndexLayout.astro";
---

<IndexLayout pathname="/components">
  <div slot="after">
    <hr class="divider" />
    <section>
      <h2 class="heading level-6">Looking For Something Else?</h2>
      <p class="paragraph">
        The HTML structure for the application shell is documented on the <a
          class="link"
          href="/info/getting-started/installation-and-setup#page-setup"
          >Installation and Setup</a
        > page, and additional classes are documented on the <a
          class="link"
          href="/utilities">Utilities</a
        > page.
      </p>
    </section>
  </div>
</IndexLayout>
<style>
  .divider {
    margin-block: var(--space-m);
  }
</style>
