---
import ComponentDocumentation from "../../layouts/ComponentDocumentation.astro";
import UsageExample from "../../components/UsageExample.astro";
import { trimTextPadding } from "../../utils/trim-text-padding";
---

<ComponentDocumentation
  name="Skeleton"
  description="A placeholder for a pending value or a not-yet-interactive control."
>
  <UsageExample
    name="Basic Usage"
    description={trimTextPadding(`
      You can use \`skeleton\` as a modifier class on Headings, Paragraphs,
      Buttons, Chips, or other elements to turn them into Skeletons.
      
      Note: if you're turning an interactive element into a Skeleton, make sure
      to disable it!
    `)}
    code={`
      <div class="card" style="width:400px">
        <p class="card-title skeleton"></p>
        <p class="paragraph skeleton"></p>
        <p class="paragraph skeleton"></p>
      </div>
    `}
  />
</ComponentDocumentation>
