---
import ComponentDocumentation from "../../layouts/ComponentDocumentation.astro";
import UsageExample from "../../components/UsageExample.astro";
---

<style is:global>
  .sticky-output-wrapper {
    overflow: unset !important;
  }
</style>

<ComponentDocumentation
  name="Table"
  description="A grid designed to show large amounts of information using rows and columns."
>
  <UsageExample
    name="Basic Usage"
    description="You can style a Table by adding the `table` class to any `table` element."
    code={`
      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job Area</th>
            <th>Job Title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Johnson</td>
            <td>Analytics</td>
            <td>Data Analyst</td>
          </tr>
          <tr>
            <td>Jack</td>
            <td>Jackson</td>
            <td>Analytics</td>
            <td>Manager</td>
          </tr>
          <tr>
            <td>Robin</td>
            <td>Robinson</td>
            <td>Engineering</td>
            <td>Software Engineer</td>
          </tr>
        </tbody>
      </table>
    `}
    outputWrapperClass="output-wrapper"
  />
  <UsageExample
    name="Fixed Header"
    description="You can make the header of a Table stick to the top as the user scrolls by adding the `fixed-header` class to the `table` element.\n\nThis is experimental and doesn't work when the table is inside an element with `overflow: hidden` or `overflow: auto`. It also isn't currently supported in all browsers (as of February 2026)."
    code={`
      <table class="table fixed-header">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job Area</th>
            <th>Job Title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Johnson</td>
            <td>Analytics</td>
            <td>Data Analyst</td>
          </tr>
          <tr>
            <td>Jack</td>
            <td>Jackson</td>
            <td>Analytics</td>
            <td>Manager</td>
          </tr>
          <tr>
            <td>Robin</td>
            <td>Robinson</td>
            <td>Engineering</td>
            <td>Software Engineer</td>
          </tr>
        </tbody>
      </table>
    `}
    outputWrapperClass="sticky-output-wrapper"
  />
  <UsageExample
    name="Caption/Footer"
    description="The `caption` and `tfoot` elements are styled automatically."
    code={`
      <table class="table">
        <caption>Sales Figures</caption>
        <thead>
          <tr>
            <th>Quarter</th>
            <th>Gross Revenue</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Q1</td>
            <td>$1,202,133</td>
          </tr>
          <tr>
            <td>Q2</td>
            <td>$2,001,259</td>
          </tr>
          <tr>
            <td>Q3</td>
            <td>$997,673</td>
          </tr>
          <tr>
            <td>Q4</td>
            <td>$1,012,422</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td>$5,213,487</td>
          </tr>
        </tfoot>
      </table>
    `}
  />
  <UsageExample
    name="Subtle"
    description="You can make the styling softer by adding the class `subtle` to the `table` element."
    code={`
      <table class="table subtle">
        <thead>
          <tr>
            <th>Quarter</th>
            <th>Gross Revenue</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Q1</td>
            <td>$1,202,133</td>
          </tr>
          <tr>
            <td>Q2</td>
            <td>$2,001,259</td>
          </tr>
          <tr>
            <td>Q3</td>
            <td>$997,673</td>
          </tr>
          <tr>
            <td>Q4</td>
            <td>$1,012,422</td>
          </tr>
        </tbody>
      </table>
    `}
  />
  <UsageExample
    name="Density"
    description="You can make a Table more compact by adding the class `dense` or more spread out with the class `sparse`."
    code={`
      <table class="table dense">
        <caption>Dense</caption>
        <thead>
          <tr>
            <th>Quarter</th>
            <th>Gross Revenue</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Q1</td>
            <td>$1,202,133</td>
          </tr>
          <tr>
            <td>Q2</td>
            <td>$2,001,259</td>
          </tr>
          <tr>
            <td>Q3</td>
            <td>$997,673</td>
          </tr>
          <tr>
            <td>Q4</td>
            <td>$1,012,422</td>
          </tr>
        </tbody>
      </table>
      <table class="table sparse">
        <caption>Sparse</caption>
        <thead>
          <tr>
            <th>Quarter</th>
            <th>Gross Revenue</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Q1</td>
            <td>$1,202,133</td>
          </tr>
          <tr>
            <td>Q2</td>
            <td>$2,001,259</td>
          </tr>
          <tr>
            <td>Q3</td>
            <td>$997,673</td>
          </tr>
          <tr>
            <td>Q4</td>
            <td>$1,012,422</td>
          </tr>
        </tbody>
      </table>
    `}
  />
</ComponentDocumentation>
