@use "./text";

:is(
    button,
    .button,
    input[type="button"],
    input[type="submit"],
    input[type="reset"]
  ):not(.chip, .card) {
  @include text.all-caps;

  --button-shadow: var(--shadow-s);
  --button-hover-bg-color: var(--button-border-color);

  box-sizing: border-box;
  display: inline-flex;
  outline: 0;
  padding: 0.65em;
  gap: 0.325em;
  border-style: solid;
  transform: scale(1);
  transition-property: box-shadow, background-color, transform, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
  text-decoration: none;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  border-width: 1px;
  border-radius: var(--radius-m);
  min-height: 2.5em;
  min-width: 2.5em;
  line-height: 1;
  font-family: var(--font-family-ui);
  box-shadow: var(--button-shadow);
  user-select: none;
  font-size: 1.15rem;

  &::before {
    content: "";
    background-color: var(--button-hover-bg-color);
    position: absolute;
    inset: 0;
    margin: auto;
    transition-property: opacity, width, height, border-radius;
    transition-duration: 200ms;
    transition-timing-function: ease;
    z-index: -1;
    border-radius: 30px;
    width: 4em;
    height: 4em;
    opacity: 0;
  }

  &:focus-visible {
    box-shadow: var(--button-shadow), 0 0 0 0.2em var(--button-focus-ring-color);
  }

  &:active {
    transform: scale(0.98);

    // On low-resolution screens, the scale effect makes text jump
    // around awkwardly, so we use an alternative.
    @media screen and (resolution < 2x) {
      transform: translateY(1px);
    }
  }

  &:hover {
    text-decoration: none;

    &::before {
      opacity: 1;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }

  color: var(--button-fg-color);
  background-color: var(--button-bg-color);
  border-color: var(--button-border-color);
  font-weight: var(--button-font-weight);

  &.primary {
    --button-fg-color: white;
    --button-bg-color: var(--color-brand-5);
    --button-border-color: var(--color-brand-4);
    --button-font-weight: var(--font-weight-semibold);
    --button-focus-ring-color: var(--color-brand-transparent);

    @each $color
      in ("red", "orange", "yellow", "green", "sky", "blue", "purple", "gray")
    {
      &.#{$color} {
        --button-bg-color: var(--color-#{$color}-5);
        --button-border-color: var(--color-#{$color}-4);
        --button-focus-ring-color: var(--color-#{$color}-transparent);
      }
    }
  }

  // .secondary, default
  &:not(.primary, .subtle, .close-button) {
    --button-fg-color: var(--color-body-text);
    --button-bg-color: var(--color-gray-8);
    --button-border-color: var(--color-gray-7);
    --button-font-weight: var(--font-weight-normal);
    --button-focus-ring-color: var(--color-gray-transparent);
  }

  &.subtle {
    --button-fg-color: var(--color-brand-4);
    --button-bg-color: transparent;
    --button-border-color: transparent;
    --button-hover-bg-color: var(--color-brand-extra-transparent);
    --button-font-weight: var(--font-weight-bold);
    --button-focus-ring-color: transparent;
    --button-shadow: none;

    &:focus-visible {
      --button-bg-color: var(--color-brand-transparent);
      --button-hover-bg-color: transparent;
    }
  }

  &:is(:disabled, .disabled, [aria-disabled="true"]) {
    opacity: 0.7;
    cursor: not-allowed;
    transform: scale(1);

    &:hover::before {
      opacity: 0;
    }
  }

  &.small {
    font-size: 0.85rem;
  }

  &.large {
    font-size: 1.45rem;
  }

  &.icon {
    border-radius: var(--radius-full);
    padding: 0.125em;
  }
}
