.card {
  background-color: var(--color-body-alt);
  border-radius: var(--radius-l);
  border: var(--border-s) solid var(--color-outline);
  box-shadow: var(--shadow-m);

  &.secondary {
    background-color: var(--color-body);
    border-radius: var(--radius-m);
    color: var(--color-body-text-alt);
    box-shadow: var(--shadow-s);

    &:not(.no-padding) {
      padding: var(--space-s);
    }
  }

  &:not(.no-padding) {
    padding: var(--space-m);

    .card-title {
      margin-block-start: 0;
    }
  }
}

.card-title {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  color: var(--color-brand-3);
  margin-block-end: var(--space-s);
}
