@use "../functions";

$color-variants: (
  "red",
  "orange",
  "yellow",
  "green",
  "sky",
  "blue",
  "purple",
  "brand",
  "gray"
);

.chip {
  --chip-fg-color: white;

  display: inline-flex;
  align-items: center;
  border-radius: 1em;
  font-size: var(--font-size-s);
  padding: var(--space-3xs) var(--space-xs);
  background-color: var(--chip-bg-color);
  border: var(--border-s) solid var(--chip-border-color);
  color: var(--chip-fg-color);
  flex-shrink: 0;
  cursor: default;
  transition-property: box-shadow, background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
  text-decoration: none;
  appearance: none;

  &:focus-visible {
    box-shadow: 0 0 0 0.2em var(--chip-focus-ring-color);
  }

  &.clickable {
    cursor: pointer;
    box-shadow: var(--shadow-s);

    &:focus-visible {
      outline: 0;
      box-shadow:
        var(--shadow-s),
        0 0 0 0.2em var(--chip-focus-ring-color);
    }

    &:hover {
      background-color: var(--chip-border-color);
    }

    &:active {
      background-color: var(--chip-bg-color-active);
      border-color: var(--chip-bg-color-active);
    }
  }

  @each $color in $color-variants {
    &.#{$color} {
      --chip-bg-color: var(--color-#{$color}-6);
      --chip-border-color: var(--color-#{$color}-7);
      --chip-focus-ring-color: var(--color-#{$color}-transparent);
      --chip-bg-color-active: var(--color-#{$color}-5);
    }
  }

  &.black {
    --chip-bg-color: black;
    --chip-border-color: var(--color-gray-4);
    --chip-focus-ring-color: var(--color-gray-transparent);
    --chip-bg-color-active: var(--color-gray-1);
  }

  &.white {
    --chip-fg-color: black;
    --chip-bg-color: white;
    --chip-border-color: var(--color-gray-8);
    --chip-focus-ring-color: var(--color-gray-transparent);
    --chip-bg-color-active: var(--color-gray-7);
  }

  @media (prefers-color-scheme: dark) {
    @each $color in $color-variants {
      &.#{$color} {
        --chip-border-color: var(--color-#{$color}-5);
        --chip-bg-color-active: var(--color-#{$color}-7);
      }
    }

    &.black {
      --chip-border-color: var(--color-gray-7);
      --chip-bg-color-active: var(--color-gray-8);
    }

    &.white {
      --chip-border-color: var(--color-gray-2);
      --chip-bg-color-active: var(--color-gray-3);
    }
  }

  :is(button, .button).delete {
    outline: 0;
    margin: calc(-1 * var(--space-3xs)) calc(-1 * var(--space-2xs))
      calc(-1 * var(--space-3xs)) var(--space-3xs);
    font-size: 0.6em;
    border: var(--border-s) solid var(--chip-border-color);
    border-radius: var(--radius-full);
    transition-property: box-shadow, background-color, transform, opacity,
      border-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    height: 2.5em;
    width: 2.5em;
    user-select: none;
    background-color: transparent;
    padding: 0;
    display: inline-flex;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      opacity: 0.7;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--chip-border-color);
      transition-duration: 200ms;
      transition-timing-function: ease;
      transition-property: background-color, opacity;
    }

    &::after {
      content: "";
      width: 1.2em;
      height: 1.2em;
      mask-image: #{functions.svg-to-data-url(
          '<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><path fill="black" d="M208.49 191.51a12 12 0 0 1-17 17L128 145l-63.51 63.49a12 12 0 0 1-17-17L111 128L47.51 64.49a12 12 0 0 1 17-17L128 111l63.51-63.52a12 12 0 0 1 17 17L145 128Z"/></svg>'
        )};
      mask-size: contain;
      mask-repeat: no-repeat;
      background-color: var(--chip-fg-color);
    }

    &:focus-visible {
      border-color: var(--chip-fg-color);
    }

    &:hover::before,
    &:focus-visible::before {
      opacity: 1;
    }

    &:active::before {
      opacity: 0.5;
    }
  }
}
