$color-variants: (
  "red",
  "orange",
  "yellow",
  "green",
  "sky",
  "blue",
  "purple",
  "magenta",
  "brand",
  "gray"
);

.chip {
  --chip-fg-color: white;

  display: inline-flex;
  align-items: center;
  border-radius: var(--radius-full);
  font-size: var(--font-size-s);
  padding-block: var(--space-3xs);
  padding-inline: var(--space-xs);
  background-color: var(--chip-bg-color);
  border: var(--border-s) solid var(--chip-border-color);
  color: var(--chip-fg-color);
  flex-shrink: 0;
  cursor: default;
  transition-property: box-shadow, background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
  text-decoration: none;
  appearance: none;
  line-height: 1.2;

  &:is(:focus-visible, .focus) {
    box-shadow: 0 0 0 0.2em var(--chip-focus-color);
  }

  &.clickable {
    cursor: pointer;
    box-shadow: var(--shadow-s);

    &:is(:focus-visible, .focus) {
      outline: 0;
      box-shadow:
        var(--shadow-s),
        0 0 0 0.2em var(--chip-focus-color);
    }

    &:is(:hover, .hover) {
      background-color: var(--chip-border-color);
    }

    &:is(:active, .active) {
      background-color: var(--chip-bg-color-active);
      border-color: var(--chip-bg-color-active);
    }
  }

  @each $color in $color-variants {
    &.#{$color} {
      --chip-bg-color: var(--color-#{$color}-6);
      --chip-border-color: var(--color-#{$color}-7);
      --chip-focus-color: var(--color-#{$color}-transparent);
      --chip-bg-color-active: var(--color-#{$color}-5);
    }
  }

  &.black {
    --chip-bg-color: black;
    --chip-border-color: var(--color-gray-4);
    --chip-focus-color: var(--color-gray-transparent);
    --chip-bg-color-active: var(--color-gray-1);
  }

  &.white {
    --chip-fg-color: black;
    --chip-bg-color: white;
    --chip-border-color: var(--color-gray-8);
    --chip-focus-color: var(--color-gray-transparent);
    --chip-bg-color-active: var(--color-gray-7);
  }

  @media (prefers-color-scheme: dark) {
    @each $color in $color-variants {
      &.#{$color} {
        --chip-border-color: var(--color-#{$color}-5);
        --chip-bg-color-active: var(--color-#{$color}-7);
      }
    }

    &.black {
      --chip-border-color: var(--color-gray-7);
      --chip-bg-color-active: var(--color-gray-8);
    }

    &.white {
      --chip-border-color: var(--color-gray-2);
      --chip-bg-color-active: var(--color-gray-3);
    }
  }

  .delete {
    outline: 0;
    margin-inline: var(--space-3xs) calc(-1 * var(--space-2xs));
    font-size: 0.6em;
    border: var(--border-s) solid var(--chip-border-color);
    border-radius: var(--radius-full);
    transition-property: background-color, border-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 2em;
    width: 2em;
    user-select: none;
    background-color: #0002;
    padding: 0;
    display: inline-flex;
    box-shadow: none;

    &::after {
      content: "";
      width: 1.7em;
      height: 1.7em;
      mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>');
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--chip-fg-color);
      margin: auto;
    }

    &:is(:focus-visible, .focus) {
      border-color: var(--chip-fg-color);
    }

    &:is(:hover, .hover, :focus-visible, .focus) {
      background-color: #0001;
    }

    &:is(:active, .active) {
      background-color: #0003;
    }
  }
}
