@use "./text";
@use "../utils";

dialog,
dialog::backdrop {
  --dialog-starting-opacity: 0.25;
  --dialog-starting-transform: translateY(8px);
  --dialog-open-opacity: 1;
  --dialog-open-transform: translate(0);
  --dialog-ending-opacity: 0;
  --dialog-ending-transform: translateY(-4px) scale(0.97);
  --dialog-backdrop-starting-opacity: 0;
  --dialog-backdrop-open-opacity: 0.75;
  --dialog-backdrop-ending-opacity: 0;
  --dialog-backdrop-color: var(--color-gray-2);

  @media (prefers-reduced-motion) {
    --dialog-starting-transform: translate(0);
    --dialog-ending-transform: translate(0);
  }

  @media (prefers-color-scheme: dark) {
    --dialog-backdrop-color: var(--color-gray-8);
    --dialog-backdrop-open-opacity: 0.85;
  }
}

dialog {
  box-shadow: var(--shadow-xl);
  border: var(--border-s) solid var(--color-outline);
  border-radius: var(--radius-l);
  background-color: var(--color-body-alt);
  color: var(--color-body-text);
  padding: 0;
  flex-direction: column;
  gap: 0;

  &::backdrop {
    background-color: var(--dialog-backdrop-color);
  }

  &.drawer {
    --dialog-starting-opacity: 0.5;

    position: fixed;
    inset: 0;
    border-radius: 0;
    margin: 0;
    border: 0;
    overflow: auto;

    &.left {
      right: auto;

      @media (prefers-reduced-motion: no-preference) {
        --dialog-starting-transform: translateX(-16px);
        --dialog-ending-transform: translateX(-16px);
      }
    }

    &.top {
      bottom: auto;

      @media (prefers-reduced-motion: no-preference) {
        --dialog-starting-transform: translateY(-16px);
        --dialog-ending-transform: translateY(-16px);
      }
    }

    &.right {
      left: auto;

      @media (prefers-reduced-motion: no-preference) {
        --dialog-starting-transform: translateX(16px);
        --dialog-ending-transform: translateX(16px);
      }
    }

    &.bottom {
      top: auto;

      @media (prefers-reduced-motion: no-preference) {
        --dialog-starting-transform: translateY(16px);
        --dialog-ending-transform: translateY(16px);
      }
    }

    &.top,
    &.bottom {
      width: 100dvw;
      max-width: unset;
      height: auto;
      max-height: 100dvh;
      min-height: min(100dvh, 250px);

      &.small {
        max-height: min(100dvh, 300px);
      }

      &.medium {
        max-height: min(100dvh, 450px);
      }

      &.large {
        max-height: min(100dvh, 600px);
      }
    }

    &.left,
    &.right {
      height: 100dvh;
      max-height: unset;
      width: auto;
      min-width: min(100dvw, 300px);
      max-width: 100dvw;

      &.small {
        max-width: min(100dvw, 350px);
      }

      &.medium {
        max-width: min(100dvw, 450px);
      }

      &.large {
        max-width: min(100dvw, 700px);
      }
    }
  }

  &:not(.drawer) {
    --dialog-width: 9999px;

    max-height: calc(100svh - 4 * var(--space-body));
    max-width: min(calc(100svw - 4 * var(--space-body)), var(--dialog-width));

    &.small {
      --dialog-width: 400px;
    }

    &.medium {
      --dialog-width: 650px;
    }

    &.large {
      --dialog-width: 900px;
    }
  }

  &[open] {
    display: flex;
  }
}

.dialog-header {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  padding: var(--space-m);
  padding-block-end: var(--space-xs);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-brand-3);
  margin: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }

  .button.close {
    color: inherit;
    margin: -0.5rem;
    margin-inline-start: var(--space-3xs);

    &::after {
      content: "";
      width: 1.8em;
      height: 1.8em;
      mask-image: #{utils.svg-to-data-url(
          '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>'
        )};
      mask-size: contain;
      mask-repeat: no-repeat;
      background-color: currentcolor;
    }
  }
}

.dialog-body {
  padding: var(--space-m);
  padding-block-start: var(--space-xs);
  flex-shrink: 1;
  display: block;
  overflow: auto;
  margin: 0;
}

.dialog-footer {
  padding: var(--space-xs);
  flex-shrink: 0;
  display: flex;
  gap: var(--space-2xs);
  justify-content: flex-start;
  background-color: var(--color-body);
  border-block-start: var(--border-s) solid var(--color-outline);
  margin: 0;

  @media screen and (width <= 500px) {
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
  }

  .button:not(.small, .medium, .large) {
    font-size: 0.9rem;
  }
}

@supports (transition-behavior: allow-discrete) and (overlay: none) {
  dialog {
    animation: unset;
  }
}
