@use "../functions";

.field {
  display: inline-flex;
  flex-direction: column;
  line-height: 1;
  gap: var(--space-3xs);
  color: var(--color-body-text);
  font-weight: var(--font-weight-semibold);
  transition-duration: 200ms;
  transition-property: color, box-shadow;
  transition-timing-function: ease;

  &:focus-within {
    color: var(--color-brand-5);
  }

  &:has(:user-invalid, &[aria-invalid="true"]) {
    color: var(--color-red-5);
  }

  &:user-invalid {
    color: var(--color-red-5);
  }

  input:not(
      [type="button"],
      [type="checkbox"],
      [type="file"],
      [type="hidden"],
      [type="image"],
      [type="radio"],
      [type="range"],
      [type="reset"],
      [type="submit"]
    ),
  select,
  textarea {
    color: var(--color-body-text);
    background-color: white;
    border: var(--border-s) solid var(--color-outline);
    font-size: 1rem;
    padding: var(--space-2xs);
    margin-top: 2px;
    border-radius: var(--radius-m);
    transition-duration: 200ms;
    transition-property: color, box-shadow, border-color;
    transition-timing-function: ease;
    font-family: var(--font-family-ui);

    @media (prefers-color-scheme: dark) {
      background-color: black;
    }

    &:focus {
      outline: 0;
      border-color: var(--color-brand-5);
      box-shadow: 0 0 0 1px var(--color-brand-5),
        0 0 0 3px var(--color-brand-transparent);
    }

    &:disabled {
      opacity: 0.7;

      &:focus {
        outline: 0;
        border-color: var(--color-gray-5);
        box-shadow: 0 0 0 1px var(--color-gray-5),
          0 0 0 3px var(--color-gray-transparent);
      }
    }

    &:user-invalid,
    &[aria-invalid="true"] {
      border-color: var(--color-red-5);
      box-shadow: 0 0 0 1px var(--color-red-5);

      &:focus {
        outline: 0;
        border-color: var(--color-red-5);
        box-shadow: 0 0 0 1px var(--color-red-5),
          0 0 0 3px var(--color-red-transparent);
      }
    }
  }

  select {
    background-image: #{functions.svg-to-data-url(
        '<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m6 9l6 6l6-6"/></svg>'
      )};
    background-position: center right 0.25em;
    background-size: auto 75%;
    background-repeat: no-repeat;
    cursor: pointer;
    appearance: none;
    padding-right: calc(2 * var(--space-2xs) + 1em);

    @media (prefers-color-scheme: dark) {
      background-image: #{functions.svg-to-data-url(
          '<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m6 9l6 6l6-6"/></svg>'
        )};
    }
  }
}

fieldset {
  border: var(--border-s) solid var(--color-outline);
  border-radius: var(--radius-l);

  legend {
    color: var(--color-body-text);
    font-weight: var(--font-weight-semibold);
  }
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--color-brand-5);
}
