@use "./text";

table {
  background-color: var(--color-body-alt);
  border-collapse: separate;
  border-spacing: 0;
  font-size: var(--font-size-m);
  border: var(--border-s) solid var(--color-outline);
  border-radius: var(--radius-s);
  color: var(--color-body-text);
}

caption {
  @extend %h5;

  text-align: unset;
  margin: 0 0 var(--space-2xs);
}

th,
td {
  padding: var(--space-2xs);
}

th,
tfoot td {
  @include text.all-caps;

  font-weight: var(--font-weight-bold);
  text-align: center;
}

th {
  border-block-end: var(--border-m) solid var(--color-outline);
}

tfoot td {
  border-block-start: var(--border-m) solid var(--color-outline);
}

td {
  text-align: unset;
}

:is(th, tfoot td):not(:last-of-type) {
  border-inline-end: var(--border-s) dashed var(--color-outline);
}

td:not(tfoot td, :last-of-type) {
  border-inline-end: var(--border-s) solid var(--color-outline);
}

tr:not(:last-of-type) td {
  border-block-end: var(--border-s) solid var(--color-outline);
}

tbody tr:nth-child(odd),
tbody:has(tr:last-of-type:nth-child(even)) + tfoot tr {
  background-color: var(--color-body);
}

tbody tr:nth-child(even) {
  background-color: var(--color-body-alt);
}
