@use "../functions";

@mixin all-caps() {
  text-transform: uppercase;
  letter-spacing: 0.05ch;
}

%heading-any {
  font-family: var(--font-family-heading);
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  line-height: 1.1;
  text-wrap: balance;
}

h1,
.h1,
%h1 {
  @extend %heading-any;

  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-black);
}

h2,
.h2,
%h2 {
  @extend %heading-any;

  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}

h3,
.h3,
%h3 {
  @extend %heading-any;

  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}

h4,
.h4,
%h4 {
  @extend %heading-any;

  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

h5,
.h5,
%h5 {
  @extend %heading-any;

  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

h6,
.h6,
%h6 {
  @extend %heading-any;
  @include all-caps;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

p,
.p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  margin: 0;
  text-wrap: pretty;
  hanging-punctuation: first;

  &:not(.alert-title) + & {
    margin-block-start: 0.75em;
  }
}

blockquote,
.blockquote {
  display: block;
  margin: 0;
  background-color: var(--color-body-alt);
  color: var(--color-body-text-alt);
  border: var(--border-s) solid var(--color-outline);
  border-left-width: var(--border-l);
  border-radius: var(--radius-l);
  padding: var(--space-s);
  position: relative;
  font-size: var(--font-size-m);

  &::before {
    content: open-quote;
    opacity: 0.5;
    position: absolute;
    transform: translateX(-125%);
  }

  &::after {
    content: close-quote;
    opacity: 0.5;
  }
}

a,
.a {
  color: var(--color-sky-4);
  font-weight: var(--font-weight-semibold);
  text-decoration-line: underline;
  text-decoration-color: var(--color-sky-transparent);
  text-decoration-skip-ink: all;
  text-decoration-thickness: var(--border-m);
  cursor: pointer;
  transition: text-decoration-color 200ms ease;

  &:hover {
    text-decoration-color: currentcolor;
  }

  &[target="_blank"]:not(.no-external-icon, .button.icon)::after {
    content: "";
    print-color-adjust: exact;
    mask-image: #{functions.svg-to-data-url(
        '<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6m4-3h6v6m-11 5L21 3"/></svg>'
      )};
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--color-gray-5);
    display: inline-block;
    height: 0.85em;
    width: 0.85em;
    vertical-align: baseline;
    margin-left: 0.1em;
  }

  &[target="_blank"]:not(.no-external-icon, .button.icon).button::after {
    background-color: currentcolor;
  }
}

pre,
.pre {
  font-family: var(--font-family-mono);
}

code,
.code,
kbd,
.kbd {
  background-color: var(--color-gray-8);
  color: var(--color-gray-1);
  font-family: var(--font-family-mono);
  padding: 0 0.5ch;
  margin: 0 0.25ch;
  border-radius: var(--radius-s);
  font-size: 0.9em;
}

:is(pre, .pre) > :is(code, .code) {
  background-color: unset;
}

strong,
.strong {
  font-weight: var(--font-weight-bold);
}

em,
.em {
  font-style: italic;
}

mark,
.mark {
  background-color: var(--color-yellow-9);
  color: black;
  padding: 0.1em 0.25em;
  border-radius: var(--radius-s);
  print-color-adjust: exact;

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-yellow-2);
  }
}
