.banner {
  border-inline-width: 0;
  width: 100%;
  padding: var(--space-xs);
  padding-inline-start: calc(var(--space-xs) + 2em);

  &:has(.button.dismiss) {
    padding-inline-end: calc(var(--space-xs) + 2em);
  }

  &::before,
  &::after {
    inset-inline-start: calc(var(--space-xs) * 0.5);
  }

  & + & {
    border-block-start-width: 0;
  }

  .button.dismiss {
    --button-fg-color: var(--alert-dismiss-icon-color);
    --button-hover-bg-color: var(--alert-dismiss-hover-bg);

    position: absolute;
    inset-block: 0;
    inset-inline-end: var(--space-3xs);
    margin: auto;

    &:is(:focus-visible, .focus) {
      --button-bg-color: var(--alert-dismiss-focus-bg);
    }
  }
}
