.card {
  background-color: var(--color-body-alt);
  border-radius: var(--radius-l);
  border: var(--border-s) solid var(--color-outline);
  box-shadow: var(--shadow-m);
  padding: var(--space-m);
  font-family: var(--font-family-body);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);

  &.secondary {
    background-color: var(--color-body);
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-s);
    padding: var(--space-s);
  }
}

/* 
 * The Link component also defines .card-title[href]. We specifically add that
 * selector here so the styles in this file override the former.
 */
.card-title,
.card-title[href] {
  font-family: var(--font-family-heading);
  line-height: 1.15;
  text-wrap: balance;
  overflow-wrap: break-word;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  color: var(--color-brand-3);
  margin-block: 0 var(--space-xs);
  display: block;
}

.card.secondary .card-title {
  font-size: var(--font-size-m);
  margin-block-end: var(--space-2xs);
}
