.link,
.card-title[href],
.markdown-output a {
  color: var(--color-sky-4);
  font-weight: var(--font-weight-semibold);
  text-decoration-line: underline;
  text-decoration-color: var(--color-sky-transparent);
  text-decoration-skip-ink: all;
  text-decoration-thickness: var(--border-m);
  text-underline-offset: 0.1em;
  cursor: pointer;
  transition-property: text-decoration-color;
  transition-duration: var(--duration-short);
  transition-timing-function: var(--ease-default);

  &:is(:hover, .hover) {
    text-decoration-color: currentcolor;
  }

  &:focus-visible {
    outline-offset: 1px;
  }
}

[target="_blank"]:is(.link, .button, .markdown-output a):not(
    .no-external-icon
  )::after {
  content: "";
  print-color-adjust: exact;
  mask-image: url("@/src/svg/external.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--color-gray-5);
  display: inline-block;
  height: 0.85em;
  width: 0.85em;
  vertical-align: baseline;
  margin-left: 0.1em;
}

/* For buttons, match external icon color to button text */
a.button[target="_blank"]:not(.no-external-icon)::after {
  background-color: currentcolor;
}
