.link,
.style-semantic-elements a {
  color: var(--color-sky-4);
  font-weight: var(--font-weight-semibold);
  text-decoration-line: underline;
  text-decoration-color: var(--color-sky-transparent);
  text-decoration-skip-ink: all;
  text-decoration-thickness: var(--border-m);
  text-underline-offset: 0.1em;
  cursor: pointer;
  transition: text-decoration-color 200ms ease;

  &:is(:hover, .hover) {
    text-decoration-color: currentcolor;
  }

  &:focus-visible {
    outline-offset: 1px;
  }

  &[target="_blank"]:not(.no-external-icon, .button.icon)::after {
    content: "";
    print-color-adjust: exact;
    mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6m4-3h6v6m-11 5L21 3"/></svg>');
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--color-gray-5);
    display: inline-block;
    height: 0.85em;
    width: 0.85em;
    vertical-align: baseline;
    margin-left: 0.1em;
  }

  &[target="_blank"]:not(.no-external-icon, .button.icon).button::after {
    background-color: currentcolor;
  }
}
