/* See utils/base-dialog for more */
.modal {
  --dialog-width: 9999px;

  max-height: calc(100svh - 4 * var(--space-body));
  max-width: min(calc(100svw - 4 * var(--space-body)), var(--dialog-width));

  &.small {
    --dialog-width: 400px;
  }

  &.medium {
    --dialog-width: 650px;
  }

  &.large {
    --dialog-width: 900px;
  }
}

.modal-footer {
  padding: var(--space-xs);
  flex-shrink: 0;
  display: flex;
  gap: var(--space-2xs);
  justify-content: flex-start;
  background-color: var(--color-body);
  border-block-start: var(--border-s) solid var(--color-outline);
  margin: 0;

  @media screen and (width <= 500px) {
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
  }

  .button:not(.small, .medium, .large) {
    font-size: 0.9rem;
  }
}
