.quotation,
.style-semantic-elements blockquote {
  display: block;
  margin: 0;
  color: var(--color-gray-4);
  border-inline-start: var(--border-l) solid var(--color-gray-transparent);
  padding: var(--space-3xs);
  padding-inline-start: var(--space-xs);
  position: relative;
  font-size: var(--font-size-m);
  line-height: 1.25;
  font-weight: var(--font-weight-normal);

  @media (prefers-color-scheme: dark) {
    color: var(--color-gray-2);
  }

  :is(footer, .footer) {
    margin-block-start: 0.5em;
    font-size: var(--font-size-s);
    font-style: initial;
    color: var(--color-body-text);
    font-weight: var(--font-weight-semibold);

    :is(cite, .cite) {
      font-weight: var(--font-weight-normal);
      font-style: italic;
    }
  }
}
