.skip-link {
  position: fixed;
  display: inline-block;
  z-index: 100;
  top: var(--space-body);
  left: var(--space-body);
  background-color: var(--color-brand-5);
  padding: var(--space-xs);
  border-radius: var(--radius-m);
  border: 0.25em solid var(--color-brand-4);
  color: var(--color-body-alt);
  font-weight: var(--font-weight-bold);
  outline: 0;
  box-shadow:
    var(--shadow-l),
    0 0 0 0.2em var(--color-brand-transparent);
  text-decoration: none;
  vertical-align: middle;
  opacity: 0.25;
  transition: opacity 300ms ease;
  pointer-events: none;
  line-height: 1;

  kbd {
    margin-inline-start: var(--space-2xs) !important;
    font-weight: initial;
    border: 0 !important;
    background-color: var(--color-brand-4) !important;
    color: inherit !important;
    font-size: 1.2em !important;
  }

  &:focus,
  &.static {
    opacity: 1;
  }

  &.static {
    position: static;
    pointer-events: unset;
  }
}
