@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  --spinner-primary-color: var(--color-brand-5);
  --spinner-secondary-color: var(--color-brand-3);

  font-size: var(--font-size-m);
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-2xs);

  &.small {
    font-size: var(--font-size-xs);
  }

  &.large {
    font-size: var(--font-size-xl);
  }

  &.label-top {
    flex-direction: column-reverse;

    &::after {
      inset: auto 0 0;
    }
  }

  &.label-right {
    flex-direction: row;
    gap: var(--space-xs);

    &::after {
      inset: 0 auto 0 0;
    }
  }

  &.label-left {
    flex-direction: row-reverse;
    gap: var(--space-xs);

    &::after {
      inset: 0 0 0 auto;
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 0.5em solid transparent;
    border-top-color: var(--spinner-primary-color);
    border-right-color: var(--spinner-primary-color);
    animation: spinner-spin 0.85s linear infinite;
  }

  &::after {
    position: absolute;
    inset: 0 0 auto;
    margin: auto;
    border-top-color: var(--spinner-secondary-color);
    border-right-color: var(--spinner-secondary-color);
    animation-duration: 1.05s;
  }
}
