/* Style the label of a labeled switch, which is also the container that holds the switch itself */
label.switch {
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: var(--font-weight-semibold);
  gap: var(--space-3xs);
  font-size: var(--font-size-m);
  font-family: var(--font-family-body);
}

/* For small labeled switches, set the label text size to font-size-s */
label.switch.small {
  font-size: var(--font-size-s);
}

/* Style the switch itself */
input[type="checkbox"].switch,
label.switch input[type="checkbox"] {
  font-size: 1rem;
  print-color-adjust: exact;
  appearance: none;
  block-size: 1.8em;
  inline-size: 3em;
  border-radius: var(--radius-full);
  background-color: var(--color-gray-7);
  position: relative;
  flex: none;
  transition-property: background-color, box-shadow, border-color;
  transition-duration: var(--duration-medium);
  transition-timing-function: var(--ease-default);
  border: 0.1em solid var(--color-gray-6);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    height: 1.4em;
    width: 1.4em;
    background-color: white;
    inset-inline-start: 0.1em;
    inset-block-start: 0.1em;
    border-radius: var(--radius-full);
    box-shadow: var(--shadow-s);
    transition-property: border-color, transform;
    transition-duration: var(--duration-medium);
    transition-timing-function: var(--ease-default);
    transform: translateX(0);
  }

  &:disabled {
    opacity: var(--opacity-disabled);
    cursor: not-allowed;
  }

  &:is(:focus-visible, .focus) {
    border-color: var(--color-gray-6);
    box-shadow: 0 0 0 0.2em var(--color-gray-transparent);
    outline: 0;
  }

  &:checked {
    background-color: var(--color-brand-6);
    border-color: var(--color-brand-5);

    &::after {
      transform: translateX(1.2em);
    }

    &:is(:focus-visible, .focus) {
      box-shadow: 0 0 0 0.2em var(--color-brand-transparent);
    }
  }

  &:dir(rtl):checked::after {
    transform: translateX(-1.2em);
  }
}

/* For small switches, scale the switch control to 80% of the normal size */
input[type="checkbox"].switch.small,
label.switch.small input[type="checkbox"] {
  font-size: 0.8rem;
}
