/* stylelint-disable declaration-block-no-redundant-longhand-properties -- text-decoration shorthand doesn't work properly for Safari */

.paragraph,
.markdown-output p {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
  margin: 0.75em 0;
  text-wrap: pretty;
  hanging-punctuation: first;
  overflow-wrap: break-word;

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

.abbreviation,
.markdown-output abbr[title] {
  display: inline-block;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: var(--border-m);
  text-decoration-color: var(--color-gray-6);
  text-underline-offset: 0.1em;
}

.bold,
.markdown-output strong,
.markdown-output b {
  font-weight: var(--font-weight-bold);
}

.italic,
.markdown-output em {
  font-style: italic;
}

.underline {
  text-decoration-line: underline;
}

.strikethrough,
.markdown-output s {
  text-decoration-line: line-through;
}

.underline.strikethrough {
  text-decoration-line: underline line-through;
}

.small-text,
.markdown-output small {
  font-size: 0.75em;
  vertical-align: baseline;
}

.subscript,
.superscript,
.markdown-output sub,
.markdown-output sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.subscript,
.markdown-output sub {
  inset-block-end: -0.25em;
}

.superscript,
.markdown-output sup {
  inset-block-start: -0.5em;
}

.code,
.markdown-output code {
  font-family: var(--font-family-mono);
  background-color: var(--color-gray-extra-transparent);
  color: var(--color-gray-1);
  border-radius: var(--radius-s);
  display: inline-block;
  padding: 0 0.5ch;
  margin: 0 0.25ch;
  font-size: 0.9em;

  &.invert {
    color: var(--color-gray-9);
  }
}

.link .code,
.markdown-output a code {
  text-decoration: inherit;
  text-decoration-color: inherit;
  text-decoration-thickness: inherit;
  color: inherit;
}

.key,
.skip-link kbd,
.markdown-output kbd {
  display: inline;
  padding: 0 0.5ch;
  margin: 0 0.25ch;
  font-size: 0.9em;
  border: var(--border-s) solid var(--color-gray-8);
  border-bottom-width: 3px;
  border-radius: var(--radius-m);
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-gray-9);
  color: var(--color-body-text);
}
