.checkbox,
.radio {
  display: flex;
  align-items: start;
  gap: var(--space-2xs);
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  line-height: 1.2;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);

  &:has(input:disabled) {
    cursor: not-allowed;
    opacity: var(--opacity-disabled);
  }

  input {
    appearance: none;
    cursor: pointer;
    width: 1em;
    height: 1em;
    font-size: inherit;
    position: relative;
    border: var(--border-s) solid var(--color-gray-6);
    background-color: light-dark(white, black);
    box-shadow: var(--shadow-s);
    transition-property: background-color, border-color, box-shadow;
    transition-duration: var(--duration-short);
    transition-timing-function: var(--ease-default);
    flex-shrink: 0;

    /* Vertically center the box with the first line of its label (due to line height of 1.2) */
    inset-block-start: 0.1em;

    &:disabled {
      cursor: not-allowed;
    }
  }
}

.checkbox-group,
.radio-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}
