.alert,
.banner {
  display: block;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);
  position: relative;
  line-height: 1.2;

  > * {
    line-height: inherit;
  }
}

.alert-title,
.banner-title {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  font-size: 0.85em;
  margin: 0;

  & + * {
    margin-block-start: 0;
  }
}

.alert,
.banner-content {
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset-block: 0;
    inset-inline-start: var(--message-icon-margin);
    margin-block: auto;
    width: var(--message-icon-size);
    height: var(--message-icon-size);
  }

  &::before {
    border-radius: var(--radius-full);
    background-color: var(--message-icon-background);
    border: var(--border-m) solid var(--message-icon-color);
  }

  &::after {
    mask-image: var(--message-icon);
    mask-repeat: no-repeat;
    mask-size: auto 55%;
    mask-position: center;
    background-color: var(--message-icon-color);
  }

  @media print {
    &::before {
      background-color: transparent;
    }

    &::after {
      print-color-adjust: exact;
    }
  }
}
