.modal::backdrop,
.drawer::backdrop {
  --dialog-backdrop-starting-opacity: 0;
  --dialog-backdrop-open-opacity: 0.75;
  --dialog-backdrop-ending-opacity: 0;
  --dialog-backdrop-color: light-dark(var(--color-gray-2), var(--color-gray-8));

  @media (prefers-color-scheme: dark) {
    --dialog-backdrop-open-opacity: 0.85;
  }

  background-color: var(--dialog-backdrop-color);
}

.modal,
.drawer {
  --dialog-starting-opacity: 1;
  --dialog-starting-transform: translateY(8px);
  --dialog-open-opacity: 1;
  --dialog-open-transform: translate(0);
  --dialog-ending-opacity: 0;
  --dialog-ending-transform: scale(0.97);

  @media (prefers-reduced-motion) {
    --dialog-starting-transform: translate(0);
    --dialog-ending-transform: translate(0);
  }

  box-shadow: var(--shadow-xl);
  border: var(--border-s) solid var(--color-border);
  border-radius: var(--radius-l);
  background-color: var(--color-body-alt);
  color: var(--color-body-text);
  padding: 0;
  flex-direction: column;
  gap: 0;

  &[open] {
    display: flex;
  }
}

.modal-header,
.drawer-header {
  --dialog-dismiss-btn-size: 1.8rem;

  font-family: var(--font-family-heading);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  padding: var(--space-m);
  padding-block-end: var(--space-2xs);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-brand-3);
  margin: 0;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }

  &:has(.button.dismiss) {
    padding-inline-end: calc(
      2 * var(--space-xs) + var(--dialog-dismiss-btn-size)
    );
  }

  .button.dismiss {
    --button-fg-color: var(--color-gray-3);
    --button-bg-color: var(--color-gray-9);
    --button-hover-bg-color: var(--color-gray-9);

    font-size: 0.8rem;
    width: var(--dialog-dismiss-btn-size);
    height: var(--dialog-dismiss-btn-size);
    border-radius: var(--radius-full);
    position: absolute;
    inset-block-start: var(--space-xs);
    inset-inline-end: var(--space-xs);

    &:is(:hover, .hover):not(:active, .active) {
      box-shadow: 0 0 0 1px var(--color-gray-9);
    }

    &:is(:focus-visible, .focus) {
      --button-bg-color: var(--color-gray-9);
      --button-hover-bg-color: var(--color-gray-9);
      --button-border-color: var(--color-brand-6);

      &:is(:hover, .hover):not(:active, .active) {
        box-shadow: 0 0 0 1px var(--color-brand-6);
      }
    }

    &::after {
      width: 1em;
      height: 1em;
    }
  }
}

.modal-body,
.drawer-body {
  padding: var(--space-m);
  padding-block-start: var(--space-xs);
  flex-shrink: 1;
  display: block;
  overflow: auto;
  margin: 0;
}

@supports (transition-behavior: allow-discrete) and (overlay: none) {
  .modal,
  .drawer {
    animation: unset;
  }
}

/* Fade in/out (mixed browser support as of March 2025) */
:is(.modal, .drawer)[open] {
  display: flex;
  transform: var(--dialog-open-transform);
  opacity: var(--dialog-open-opacity);
}

:is(.modal, .drawer)[open]::backdrop {
  opacity: var(--dialog-backdrop-open-opacity);
}

:is(.modal, .drawer),
:is(.modal, .drawer)::backdrop {
  transition-property: transform, opacity, display, overlay;
  transition-duration: var(--duration-l);
  transition-behavior: allow-discrete;
}

:is(.modal, .drawer) {
  transform: var(--dialog-ending-transform);
  opacity: var(--dialog-ending-opacity);
  transition-timing-function: var(--ease-out);
}

:is(.modal, .drawer)::backdrop {
  opacity: var(--dialog-backdrop-ending-opacity);
  transition-timing-function: var(--ease-default);
}

@starting-style {
  :is(.modal, .drawer)[open] {
    transform: var(--dialog-starting-transform);
    opacity: var(--dialog-starting-opacity);
  }

  :is(.modal, .drawer)[open]::backdrop {
    opacity: var(--dialog-backdrop-starting-opacity);
  }
}

/* End fade in/out styles */
