.alert,
.banner {
  display: block;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);
  position: relative;
  line-height: 1.2;

  > * {
    line-height: inherit;
  }
}

.alert-title,
.banner-title {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  font-size: 0.85em;
  margin: 0;

  & + * {
    margin-block-start: 0;
  }
}

.alert,
.banner-content {
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset-block: 0;
    margin-block: auto;
  }

  &::before {
    z-index: 2;
    width: 1.15em;
    height: 1.15em;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--alert-border-start-color);
  }

  &::after {
    z-index: 1;
    width: 1.6em;
    height: 1.6em;
    border-radius: var(--radius-full);
  }

  @media print {
    &::before {
      print-color-adjust: exact;
    }

    &::after {
      background-color: transparent;
    }
  }
}
