.button.dismiss {
  --button-fg-color: var(--color-body-text);
  --button-bg-color: transparent;
  --button-border-color: transparent;
  --button-hover-bg-color: var(--color-gray-extra-transparent);
  --button-focus-ring-color: transparent;
  --button-shadow: none;

  font-size: 0.75rem;
  width: 3em;
  height: 3em;
  border-radius: var(--radius-m);
  min-width: 0;
  min-height: 0;
  aspect-ratio: 1;
  padding: 0.3em;

  &:is(:focus-visible, .focus) {
    --button-bg-color: var(--color-gray-transparent);
    --button-hover-bg-color: transparent;
  }

  /* Don't use pseudo element for hover style */
  &::before {
    content: unset;
  }

  &:is(:hover, .hover) {
    background-color: var(--button-hover-bg-color);
  }

  &::after {
    content: "";
    width: 1.25em;
    height: 1.25em;
    mask-image: url("@/src/icons/x-thin.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: currentcolor;
  }
}
