fieldset.fieldset,
fieldset.field {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0;
  box-sizing: border-box;

  legend {
    display: table;
    padding: 0;
    box-sizing: border-box;
  }
}

body:not(:-moz-handler-blocked) {
  fieldset.fieldset,
  fieldset.field {
    display: table-cell;
  }
}
