---
interface Props {
  label: string;
  helpText?: string;
  orientation?: "vertical" | "horizontal";
  wrap?: boolean;
  id?: string;
}

const { label, helpText, orientation, wrap, id } = Astro.props;
const flexDirection = orientation === "horizontal" ? "row" : "column";
const flexWrap =
  wrap === true
    ? "wrap"
    : wrap === false
      ? "nowrap"
      : orientation === "horizontal"
        ? "wrap"
        : "nowrap";

const hasFlexWrapper = orientation != null || wrap != null;
---

<label class="field docs-field-component" id={id}>
  {label}
  {helpText && <div class="help-text">{helpText}</div>}
  {
    hasFlexWrapper ? (
      <div class="control" style={{ flexDirection, flexWrap }}>
        <slot />
      </div>
    ) : (
      <slot />
    )
  }
</label>

<style>
  .control {
    display: flex;
    width: 100%;
    gap: var(--space-xs);
    align-items: center;
    justify-content: stretch;
  }
</style>
<style is:global>
  .docs-field-component .slider {
    flex-grow: 1;
  }
</style>
