---
interface Props {
  label: string;
  helpText?: string;
  orientation?: "vertical" | "horizontal";
  wrap?: boolean;
}

const { label, helpText, orientation = "vertical", wrap } = Astro.props;
const flexDirection = orientation === "horizontal" ? "row" : "column";
const flexWrap =
  wrap === true
    ? "wrap"
    : wrap === false
      ? "nowrap"
      : orientation === "horizontal"
        ? "wrap"
        : "nowrap";
---

<label class="field">
  {label}
  {helpText && <div class="help-text">{helpText}</div>}
  <div class="control" style={{ flexDirection, flexWrap }}>
    <slot />
  </div>
</label>

<style>
  .control {
    display: flex;
    gap: var(--space-xs);
  }
</style>
