dialog:is(.modal, .drawer)[open] {
  display: flex;
  transform: var(--dialog-open-transform);
  opacity: var(--dialog-open-opacity);
}

dialog:is(.modal, .drawer)[open]::backdrop {
  opacity: var(--dialog-backdrop-open-opacity);
}

dialog:is(.modal, .drawer) {
  transform: var(--dialog-ending-transform);
  opacity: var(--dialog-ending-opacity);
  transition:
    transform 150ms ease,
    opacity 150ms ease,
    display 150ms ease allow-discrete,
    overlay 150ms ease allow-discrete;
}

dialog:is(.modal, .drawer)::backdrop {
  opacity: var(--dialog-backdrop-ending-opacity);
  transition:
    transform 150ms ease,
    opacity 150ms ease,
    display 150ms ease allow-discrete,
    overlay 150ms ease allow-discrete;
}

@starting-style {
  dialog:is(.modal, .drawer)[open] {
    transform: var(--dialog-starting-transform);
    opacity: var(--dialog-starting-opacity);
  }

  dialog:is(.modal, .drawer)[open]::backdrop {
    opacity: var(--dialog-backdrop-starting-opacity);
  }
}
