.modal,
.drawer,
.modal::backdrop,
.drawer::backdrop {
  --dialog-starting-opacity: 0.25;
  --dialog-starting-transform: translateY(8px);
  --dialog-open-opacity: 1;
  --dialog-open-transform: translate(0);
  --dialog-ending-opacity: 0;
  --dialog-ending-transform: translateY(-4px) scale(0.97);
  --dialog-backdrop-starting-opacity: 0;
  --dialog-backdrop-open-opacity: 0.75;
  --dialog-backdrop-ending-opacity: 0;
  --dialog-backdrop-color: var(--color-gray-2);

  @media (prefers-reduced-motion) {
    --dialog-starting-transform: translate(0);
    --dialog-ending-transform: translate(0);
  }

  @media (prefers-color-scheme: dark) {
    --dialog-backdrop-color: var(--color-gray-8);
    --dialog-backdrop-open-opacity: 0.85;
  }
}

.modal,
.drawer {
  box-shadow: var(--shadow-xl);
  border: var(--border-s) solid var(--color-outline);
  border-radius: var(--radius-l);
  background-color: var(--color-body-alt);
  color: var(--color-body-text);
  padding: 0;
  flex-direction: column;
  gap: 0;

  &::backdrop {
    background-color: var(--dialog-backdrop-color);
  }

  &[open] {
    display: flex;
  }
}

.modal-header,
.drawer-header {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  padding: var(--space-m);
  padding-block-end: var(--space-xs);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-brand-3);
  margin: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }
}

.modal-close,
.drawer-close {
  color: inherit;
  margin: -0.5rem;
  margin-inline-start: var(--space-3xs);

  &::after {
    content: "";
    width: 1.8em;
    height: 1.8em;
    mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>');
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: currentcolor;
  }
}

.modal-body,
.drawer-body {
  padding: var(--space-m);
  padding-block-start: var(--space-xs);
  flex-shrink: 1;
  display: block;
  overflow: auto;
  margin: 0;
}

.modal-footer,
.drawer-footer {
  padding: var(--space-xs);
  flex-shrink: 0;
  display: flex;
  gap: var(--space-2xs);
  justify-content: flex-start;
  background-color: var(--color-body);
  border-block-start: var(--border-s) solid var(--color-outline);
  margin: 0;

  @media screen and (width <= 500px) {
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
  }

  .button:not(.small, .medium, .large) {
    font-size: 0.9rem;
  }
}

@supports (transition-behavior: allow-discrete) and (overlay: none) {
  .modal,
  .drawer {
    animation: unset;
  }
}
